/*0lightgallery.css*/
/*! lightgallery - v1.3.9 - 2017-02-05
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2017 Sachin N; Licensed GPLv3 */
@font-face
{
    font-family: 'lg';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/lgd641.eot?n1z373');
    src: url('../fonts/lgd41d.eot?#iefixn1z373') format('embedded-opentype'), url('../fonts/lgd641.woff?n1z373') format('woff'), url('../fonts/lgd641.ttf?n1z373') format('truetype'), url('../fonts/lgd641.svg?n1z373#lg') format('svg');
}

.lg-icon
{
    font-family: 'lg';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lg-actions .lg-next,
.lg-actions .lg-prev
{
    font-size: 22px;

    position: absolute;
    z-index: 1080; 
    top: 50%;

    display: block;

    margin-top: -10px;
    padding: 8px 10px 9px;

    cursor: pointer;

    color: #999;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .45);
}

.lg-actions .lg-next.disabled,
.lg-actions .lg-prev.disabled
{
    pointer-events: none;

    opacity: .5;
}

.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover
{
    color: #fff;
}

.lg-actions .lg-next
{
    right: 20px;
}

.lg-actions .lg-next:before
{
    content: '\e095';
}

.lg-actions .lg-prev
{
    left: 20px;
}

.lg-actions .lg-prev:after
{
    content: '\e094';
}

@-webkit-keyframes lg-right-end
{
    0%
    {
        left: 0;
    }
    50%
    {
        left: -30px;
    }
    100%
    {
        left: 0;
    }
}

@keyframes lg-right-end
{
    0%
    {
        left: 0;
    }
    50%
    {
        left: -30px;
    }
    100%
    {
        left: 0;
    }
}

@-webkit-keyframes lg-left-end
{
    0%
    {
        left: 0;
    }
    50%
    {
        left: 30px;
    }
    100%
    {
        left: 0;
    }
}

@keyframes lg-left-end
{
    0%
    {
        left: 0;
    }
    50%
    {
        left: 30px;
    }
    100%
    {
        left: 0;
    }
}

.lg-outer.lg-right-end .lg-object
{
    position: relative; 

    -webkit-animation: lg-right-end .3s;
            animation: lg-right-end .3s;
}

.lg-outer.lg-left-end .lg-object
{
    position: relative; 

    -webkit-animation: lg-left-end .3s;
            animation: lg-left-end .3s;
}

.lg-toolbar
{
    position: absolute;
    z-index: 1082;
    top: 0;
    left: 0;

    width: 100%;

    /*background-color: rgba(0, 0, 0, .45);*/
}

.lg-toolbar .lg-icon
{
    font-size: 24px;
    line-height: 27px;

    float: right;

    width: 50px;
    height: 47px;
    padding: 10px 0;

    cursor: pointer;
    transition: color .2s linear; 
    text-align: center;
    text-decoration: none !important;

    color: #999;
    outline: medium none;
}

.lg-toolbar .lg-icon:hover
{
    color: #fff;
}

.lg-toolbar .lg-close:after
{
    content: '\e070';
}

.lg-toolbar .lg-download:after
{
    content: '\e0f2';
}

.lg-sub-html
{
    font-size: 16px;

    position: fixed;
    z-index: 1080; 
    right: 0;
    bottom: 0;
    left: 0;

    padding: 10px 40px;

    text-align: center;

    color: #eee;
    /*background-color: rgba(0, 0, 0, .45);*/
}

.lg-sub-html h4
{
    font-size: 13px;
    font-weight: bold; 

    margin: 0;
}

.lg-sub-html p
{
    font-size: 15px;

    margin: 5px 0 0;
}

#lg-counter
{
    font-size: 16px;

    display: inline-block;

    padding-top: 12px;
    padding-left: 20px;

    vertical-align: middle; 

    color: #999;
}

.lg-toolbar,
.lg-prev,
.lg-next
{
    transition: opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear, -webkit-transform .35s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
    transition: transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear, -webkit-transform .35s cubic-bezier(0, 0, .25, 1) 0s; 

    opacity: 1;
}

.lg-hide-items .lg-prev
{
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); 

    opacity: 0;
}

.lg-hide-items .lg-next
{
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); 

    opacity: 0;
}

.lg-hide-items .lg-toolbar
{
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); 

    opacity: 0;
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object
{
    transition: opacity 250ms cubic-bezier(0, 0, .25, 1), -webkit-transform 250ms cubic-bezier(0, 0, .25, 1) 0s !important;
    transition: transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1) !important;
    transition: transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1), -webkit-transform 250ms cubic-bezier(0, 0, .25, 1) 0s !important;
    -webkit-transform: scale3d(.5, .5, .5);
            transform: scale3d(.5, .5, .5);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; 

    opacity: 0;
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-outer .lg-thumb-outer
{
    position: absolute;
    z-index: 1080;
    bottom: 0;

    width: 100%;
    max-height: 350px;

    transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
    transition:         transform .25s cubic-bezier(0, 0, .25, 1) 0s;
    transition:         transform .25s cubic-bezier(0, 0, .25, 1) 0s, -webkit-transform .25s cubic-bezier(0, 0, .25, 1) 0s; 
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);

    background-color: #0d0a0a;
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item
{
    cursor: -webkit-grab;
    cursor:      -o-grab;
    cursor:     -ms-grab;
    cursor:         grab;
}

.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item
{
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:      -o-grabbing;
    cursor:     -ms-grabbing;
    cursor:         grabbing;
}

.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb
{
    transition-duration: 0s !important;
}

.lg-outer.lg-thumb-open .lg-thumb-outer
{
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
}

.lg-outer .lg-thumb
{
    height: 100%;
    margin-bottom: -5px; 
    padding: 10px 0;
}

.lg-outer .lg-thumb-item
{
    float: left;
    overflow: hidden;

    height: 100%;
    margin-bottom: 5px; 

    cursor: pointer;

    border: 2px solid #fff;
    border-radius: 5px;
    border-radius: 4px;
}

@media (min-width: 1025px)
{
    .lg-outer .lg-thumb-item
    {
        transition: border-color .25s ease;
    }
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover
{
    border-color: #a90707;
}

.lg-outer .lg-thumb-item img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.lg-outer.lg-has-thumb .lg-item
{
    padding-bottom: 120px;
}

.lg-outer.lg-can-toggle .lg-item
{
    padding-bottom: 0;
}

.lg-outer.lg-pull-caption-up .lg-sub-html
{
    transition: bottom .25s ease;
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html
{
    bottom: 100px;
}

.lg-outer .lg-toogle-thumb
{
    font-size: 24px;
    line-height: 27px;

    position: absolute;
    top: -39px;
    right: 20px;

    width: 50px; 
    height: 39px;
    padding: 5px 0;

    cursor: pointer;
    text-align: center;

    color: #999;
    border-radius: 2px 2px 0 0;
    background-color: #0d0a0a;
}

.lg-outer .lg-toogle-thumb:after
{
    content: '\e1ff';
}

.lg-outer .lg-toogle-thumb:hover
{
    color: #fff;
}

.lg-outer .lg-video-cont
{
    display: inline-block;

    width: 100%;
    max-width: 1140px;
    max-height: 100%;
    padding: 0 5px; 

    vertical-align: middle;
}

.lg-outer .lg-video
{
    position: relative; 

    overflow: hidden;

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.lg-outer .lg-video .lg-object
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 100% !important;
    height: 100% !important;
}

.lg-outer .lg-video .lg-video-play
{
    position: absolute;
    z-index: 1080;
    top: 50%;
    left: 50%;

    width: 84px;
    height: 59px;
    margin-top: -30px;
    margin-left: -42px;

    cursor: pointer;
}

.lg-outer .lg-has-vimeo .lg-video-play
{
    background: url('../images/vimeo-play.png') no-repeat scroll 0 0 transparent;
}

.lg-outer .lg-has-vimeo:hover .lg-video-play
{
    background: url('../images/vimeo-play.png') no-repeat scroll 0 -58px transparent;
}

.lg-outer .lg-has-html5 .lg-video-play
{
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;

    opacity: .8; 
    background: transparent url('../images/video-play.png') no-repeat scroll 0 0;
}

.lg-outer .lg-has-html5:hover .lg-video-play
{
    opacity: 1;
}

.lg-outer .lg-has-youtube .lg-video-play
{
    background: url('../images/youtube-play.png') no-repeat scroll 0 0 transparent;
}

.lg-outer .lg-has-youtube:hover .lg-video-play
{
    background: url('../images/youtube-play.png') no-repeat scroll 0 -60px transparent;
}

.lg-outer .lg-video-object
{
    position: absolute;
    top: 0;
    left: 0; 

    width: 100% !important;
    height: 100% !important;
}

.lg-outer .lg-has-video .lg-video-object
{
    visibility: hidden;
}

.lg-outer .lg-has-video.lg-video-playing .lg-object,
.lg-outer .lg-has-video.lg-video-playing .lg-video-play
{
    display: none;
}

.lg-outer .lg-has-video.lg-video-playing .lg-video-object
{
    visibility: visible;
}

.lg-progress-bar
{
    position: absolute;
    z-index: 1083;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;

    transition: opacity .08s ease 0s; 

    opacity: 0;
    background-color: #333;
}

.lg-progress-bar .lg-progress
{
    width: 0; 
    height: 5px;

    background-color: #ededed;
}

.lg-progress-bar.lg-start .lg-progress
{
    width: 100%;
}

.lg-show-autoplay .lg-progress-bar
{
    opacity: 1;
}

.lg-autoplay-button:after
{
    content: '\e01d';
}

.lg-show-autoplay .lg-autoplay-button:after
{
    content: '\e01a';
}

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap,
.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image
{
    transition-duration: 0s;
}

.lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap
{
    transition: -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s;
    transition:         transform .3s cubic-bezier(0, 0, .25, 1) 0s;
    transition:         transform .3s cubic-bezier(0, 0, .25, 1) 0s, -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-outer.lg-use-left-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap
{
    transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image
{
    transition: opacity .15s, -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s !important;
    transition: transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s !important;
    transition: transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s, -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s !important;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#lg-zoom-in:after
{
    content: '\e311';
}

#lg-actual-size
{
    font-size: 20px;
}

#lg-actual-size:after
{
    content: '\e033';
}

#lg-zoom-out
{
    pointer-events: none; 

    opacity: .5;
}

#lg-zoom-out:after
{
    content: '\e312';
}

.lg-zoomed #lg-zoom-out
{
    pointer-events: auto; 

    opacity: 1;
}

.lg-outer .lg-pager-outer
{
    position: absolute;
    z-index: 1080;
    right: 0;
    bottom: 60px;
    left: 0;

    height: 10px; 

    text-align: center;
}

.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont
{
    overflow: visible;
}

.lg-outer .lg-pager-cont
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    margin: 0 5px; 

    cursor: pointer;
    vertical-align: top;
}

.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); 

    opacity: 1;
}

.lg-outer .lg-pager-cont.lg-pager-active .lg-pager
{
    box-shadow: 0 0 0 2px white inset;
}

.lg-outer .lg-pager-thumb-cont
{
    position: absolute;
    bottom: 100%;
    left: 0;

    width: 120px;
    height: 83px;
    margin-bottom: 20px;
    margin-left: -60px;
    padding: 5px;

    transition: opacity .15s ease 0s, -webkit-transform .15s ease 0s;
    transition: opacity .15s ease 0s, transform .15s ease 0s;
    transition: opacity .15s ease 0s, transform .15s ease 0s, -webkit-transform .15s ease 0s;
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); 

    opacity: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #fff;
}

.lg-outer .lg-pager-thumb-cont img
{
    width: 100%;
    height: 100%;
}

.lg-outer .lg-pager
{
    display: block;

    width: 12px; 
    height: 12px;

    transition: box-shadow .3s ease 0s;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .7) inset;
}

.lg-outer .lg-pager:hover,
.lg-outer .lg-pager:focus
{
    box-shadow: 0 0 0 8px white inset;
}

.lg-outer .lg-caret
{
    position: absolute;
    bottom: -10px;
    left: 50%;

    display: inline-block;

    width: 0; 
    height: 0;
    margin-left: -5px;

    vertical-align: middle;

    border-top: 10px dashed;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.lg-fullscreen:after
{
    content: '\e20c';
}

.lg-fullscreen-on .lg-fullscreen:after
{
    content: '\e20d';
}

.lg-outer #lg-dropdown-overlay
{
    position: fixed;
    z-index: 1081;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    cursor: default;
    transition: visibility 0s linear .18s, opacity .18s linear 0s; 

    opacity: 0;
    background-color: rgba(0, 0, 0, .25);
}

.lg-outer.lg-dropdown-active .lg-dropdown,
.lg-outer.lg-dropdown-active #lg-dropdown-overlay
{
    visibility: visible; 

    transition-delay: 0s;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);

    opacity: 1;
}

.lg-outer.lg-dropdown-active #lg-share
{
    color: #fff;
}

.lg-outer .lg-dropdown
{
    font-size: 14px;

    position: absolute;
    top: 50px;
    right: 0;

    visibility: hidden;

    margin: 0;
    padding: 10px 0;

    list-style-type: none;

    transition: visibility 0s linear .5s, opacity .18s linear 0s, -webkit-transform .18s linear 0s;
    transition: transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
    transition: transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s, -webkit-transform .18s linear 0s; 
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    text-align: left;

    opacity: 0;
    border-radius: 2px;
    background-color: #fff;
}

.lg-outer .lg-dropdown:after
{
    position: absolute;
    top: -16px; 
    right: 16px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 8px solid transparent;
    border-bottom-color: #fff;
}

.lg-outer .lg-dropdown > li:last-child
{
    margin-bottom: 0;
}

.lg-outer .lg-dropdown > li:hover a,
.lg-outer .lg-dropdown > li:hover .lg-icon
{
    color: #333;
}

.lg-outer .lg-dropdown a
{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px; 

    display: block;

    padding: 4px 12px;

    white-space: pre;

    color: #333;
}

.lg-outer .lg-dropdown a:hover
{
    background-color: rgba(0, 0, 0, .07);
}

.lg-outer .lg-dropdown .lg-dropdown-text
{
    line-height: 1;

    display: inline-block;

    margin-top: -3px;

    vertical-align: middle;
}

.lg-outer .lg-dropdown .lg-icon
{
    font-size: 20px;
    line-height: 1;

    display: inline-block;
    float: none;

    width: auto; 
    height: auto;
    margin-right: 8px;
    padding: 0;

    vertical-align: middle;

    color: #333;
}

.lg-outer #lg-share
{
    position: relative;
}

.lg-outer #lg-share:after
{
    content: '\e80d';
}

.lg-outer #lg-share-facebook .lg-icon
{
    color: #3b5998;
}

.lg-outer #lg-share-facebook .lg-icon:after
{
    content: '\e901';
}

.lg-outer #lg-share-twitter .lg-icon
{
    color: #00aced;
}

.lg-outer #lg-share-twitter .lg-icon:after
{
    content: '\e904';
}

.lg-outer #lg-share-googleplus .lg-icon
{
    color: #dd4b39;
}

.lg-outer #lg-share-googleplus .lg-icon:after
{
    content: '\e902';
}

.lg-outer #lg-share-pinterest .lg-icon
{
    color: #cb2027;
}

.lg-outer #lg-share-pinterest .lg-icon:after
{
    content: '\e903';
}

.lg-group:after
{
    display: table;
    clear: both; 

    content: '';
}

.lg-outer
{
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity .15s ease 0s; 

    opacity: 0;
}

.lg-outer *
{
    box-sizing: border-box;
}

.lg-outer.lg-visible
{
    opacity: 1;
}

.lg-outer.lg-css3 .lg-item.lg-prev-slide,
.lg-outer.lg-css3 .lg-item.lg-next-slide,
.lg-outer.lg-css3 .lg-item.lg-current
{
    transition-timing-function: inherit !important; 
    transition-duration: inherit !important;
}

.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-current
{
    transition-duration: 0s !important;

    opacity: 1;
}

.lg-outer.lg-grab img.lg-object
{
    cursor: -webkit-grab;
    cursor:      -o-grab;
    cursor:     -ms-grab;
    cursor:         grab;
}

.lg-outer.lg-grabbing img.lg-object
{
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:      -o-grabbing;
    cursor:     -ms-grabbing;
    cursor:         grabbing;
}

.lg-outer .lg
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%; 
    margin-right: auto;
    margin-left: auto;
}

.lg-outer .lg-inner
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    white-space: nowrap;
}

.lg-outer .lg-item
{
    display: none !important;
    width: 110px;
    height: 110px;
    background: url('../images/logo-loader.png') no-repeat scroll center center transparent;
}

.lg-outer .lg-item:after{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #000;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;;
    border-radius: 50%;

    transition: opacity .4s ease, border 1s ease-in-out;
    -webkit-animation: spinner 1.1s infinite linear;
    animation: spinner 1.1s infinite linear;
    width: 120px;
    height: 120px;
    margin: -61px 0 0 -61px;
}

.lg-outer.lg-css3 .lg-prev-slide,
.lg-outer.lg-css3 .lg-current,
.lg-outer.lg-css3 .lg-next-slide
{
    display: inline-block !important;
}

.lg-outer.lg-css .lg-current
{
    display: inline-block !important;
}

.lg-outer .lg-item,
.lg-outer .lg-img-wrap
{
    position: absolute;

    display: inline-block;

    width: 100%;
    height: 100%; 

    text-align: center;
}

.lg-outer .lg-item:before,
.lg-outer .lg-img-wrap:before
{
    display: inline-block;

    width: 1px;
    height: 50%;
    margin-right: -1px; 

    content: '';
}

.lg-outer .lg-img-wrap
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;

    padding: 0 5px;
}

.lg-outer .lg-item.lg-complete
{
    background-image: none;
}

.lg-outer .lg-item.lg-complete:after{
    border:none;
}

.lg-outer .lg-item.lg-current
{
    z-index: 1060;
}

.lg-outer .lg-image
{
    display: inline-block;

    width: auto !important;
    max-width: 100%;
    height: auto !important; 
    max-height: 100%;

    vertical-align: middle;
}

.lg-outer.lg-show-after-load .lg-item .lg-object,
.lg-outer.lg-show-after-load .lg-item .lg-video-play
{
    transition: opacity .15s ease 0s; 

    opacity: 0;
}

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object,
.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play
{
    opacity: 1;
}

.lg-outer .lg-empty-html
{
    display: none;
}

.lg-outer.lg-hide-download #lg-download
{
    display: none;
}

.lg-backdrop
{
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity .15s ease 0s; 

    opacity: 0;
    background-color: rgba(0,0,0,0.8);
}

.lg-backdrop.in
{
    opacity: 1;
}

.lg-css3.lg-no-trans .lg-prev-slide,
.lg-css3.lg-no-trans .lg-next-slide,
.lg-css3.lg-no-trans .lg-current
{
    transition: none 0s ease 0s !important;
}

.lg-css3.lg-use-css3 .lg-item
{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.lg-css3.lg-use-left .lg-item
{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.lg-css3.lg-fade .lg-item
{
    opacity: 0;
}

.lg-css3.lg-fade .lg-item.lg-current
{
    opacity: 1;
}

.lg-css3.lg-fade .lg-item.lg-prev-slide,
.lg-css3.lg-fade .lg-item.lg-next-slide,
.lg-css3.lg-fade .lg-item.lg-current
{
    transition: opacity .1s ease 0s;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide
{
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide
{
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide.lg-use-left .lg-item
{
    position: absolute;
    left: 0; 

    opacity: 0;
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide
{
    left: -100%;
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide
{
    left: 100%;
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current
{
    left: 0;

    opacity: 1;
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide,
.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-left .lg-item.lg-current
{
    transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
}

/*9lg-transitions.css*/
/*! lightgallery - v1.3.9 - 2017-02-05
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2017 Sachin N; Licensed GPLv3 */
.lg-css3.lg-zoom-in .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-in .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
}

.lg-css3.lg-zoom-in .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
}

.lg-css3.lg-zoom-in .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-in .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-in .lg-item.lg-next-slide,
.lg-css3.lg-zoom-in .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-zoom-in-big .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-in-big .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
}

.lg-css3.lg-zoom-in-big .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
}

.lg-css3.lg-zoom-in-big .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-in-big .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-in-big .lg-item.lg-next-slide,
.lg-css3.lg-zoom-in-big .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-zoom-out .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-out .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(.7, .7, .7);
            transform: scale3d(.7, .7, .7);
}

.lg-css3.lg-zoom-out .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(.7, .7, .7);
            transform: scale3d(.7, .7, .7);
}

.lg-css3.lg-zoom-out .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-out .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-out .lg-item.lg-next-slide,
.lg-css3.lg-zoom-out .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-zoom-out-big .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-out-big .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
}

.lg-css3.lg-zoom-out-big .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
}

.lg-css3.lg-zoom-out-big .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-out-big .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-out-big .lg-item.lg-next-slide,
.lg-css3.lg-zoom-out-big .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-zoom-out-in .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-out-in .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
}

.lg-css3.lg-zoom-out-in .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
}

.lg-css3.lg-zoom-out-in .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-out-in .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-out-in .lg-item.lg-next-slide,
.lg-css3.lg-zoom-out-in .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-zoom-in-out .lg-item
{
    opacity: 0;
}

.lg-css3.lg-zoom-in-out .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
}

.lg-css3.lg-zoom-in-out .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
}

.lg-css3.lg-zoom-in-out .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-zoom-in-out .lg-item.lg-prev-slide,
.lg-css3.lg-zoom-in-out .lg-item.lg-next-slide,
.lg-css3.lg-zoom-in-out .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-soft-zoom .lg-item
{
    opacity: 0;
}

.lg-css3.lg-soft-zoom .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
}

.lg-css3.lg-soft-zoom .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
}

.lg-css3.lg-soft-zoom .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

.lg-css3.lg-soft-zoom .lg-item.lg-prev-slide,
.lg-css3.lg-soft-zoom .lg-item.lg-next-slide,
.lg-css3.lg-soft-zoom .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-scale-up .lg-item
{
    opacity: 0;
}

.lg-css3.lg-scale-up .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(.8, .8, .8) translate3d(0%, 10%, 0);
            transform: scale3d(.8, .8, .8) translate3d(0%, 10%, 0);
}

.lg-css3.lg-scale-up .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(.8, .8, .8) translate3d(0%, 10%, 0);
            transform: scale3d(.8, .8, .8) translate3d(0%, 10%, 0);
}

.lg-css3.lg-scale-up .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-scale-up .lg-item.lg-prev-slide,
.lg-css3.lg-scale-up .lg-item.lg-next-slide,
.lg-css3.lg-scale-up .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.lg-css3.lg-slide-circular .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.lg-css3.lg-slide-circular .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular-up .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular-up .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
}

.lg-css3.lg-slide-circular-up .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
}

.lg-css3.lg-slide-circular-up .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular-up .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular-up .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular-up .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular-down .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular-down .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
}

.lg-css3.lg-slide-circular-down .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
}

.lg-css3.lg-slide-circular-down .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular-down .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular-down .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular-down .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular-vertical .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular-vertical .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(0, -100%, 0);
            transform: scale3d(0, 0, 0) translate3d(0, -100%, 0);
}

.lg-css3.lg-slide-circular-vertical .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(0, 100%, 0);
            transform: scale3d(0, 0, 0) translate3d(0, 100%, 0);
}

.lg-css3.lg-slide-circular-vertical .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular-vertical .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular-vertical .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular-vertical .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular-vertical-left .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
}

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
}

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-circular-vertical-down .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
}

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
}

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-prev-slide,
.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-next-slide,
.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-current
{
    transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-vertical .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-vertical .lg-item.lg-prev-slide
{
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}

.lg-css3.lg-slide-vertical .lg-item.lg-next-slide
{
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
}

.lg-css3.lg-slide-vertical .lg-item.lg-current
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-vertical .lg-item.lg-prev-slide,
.lg-css3.lg-slide-vertical .lg-item.lg-next-slide,
.lg-css3.lg-slide-vertical .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-vertical-growth .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-vertical-growth .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -150%, 0);
            transform: scale3d(.5, .5, .5) translate3d(0, -150%, 0);
}

.lg-css3.lg-slide-vertical-growth .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(.5, .5, .5) translate3d(0, 150%, 0);
            transform: scale3d(.5, .5, .5) translate3d(0, 150%, 0);
}

.lg-css3.lg-slide-vertical-growth .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-slide-vertical-growth .lg-item.lg-prev-slide,
.lg-css3.lg-slide-vertical-growth .lg-item.lg-next-slide,
.lg-css3.lg-slide-vertical-growth .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-only .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-only .lg-item.lg-prev-slide
{
    -webkit-transform: skew(10deg, 0deg);
            transform: skew(10deg, 0deg);
}

.lg-css3.lg-slide-skew-only .lg-item.lg-next-slide
{
    -webkit-transform: skew(10deg, 0deg);
            transform: skew(10deg, 0deg);
}

.lg-css3.lg-slide-skew-only .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);

    opacity: 1;
}

.lg-css3.lg-slide-skew-only .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-only .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-only .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-only-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);
}

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);
}

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);

    opacity: 1;
}

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-only-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-only-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-only-y .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-only-y .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg);
}

.lg-css3.lg-slide-skew-only-y .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg);
}

.lg-css3.lg-slide-skew-only-y .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);

    opacity: 1;
}

.lg-css3.lg-slide-skew-only-y .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-only-y .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-only-y .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-only-y-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
}

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
}

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);

    opacity: 1;
}

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew .lg-item.lg-prev-slide
{
    -webkit-transform: skew(20deg, 0deg) translate3d(-100%, 0%, 0px);
            transform: skew(20deg, 0deg) translate3d(-100%, 0%, 0px);
}

.lg-css3.lg-slide-skew .lg-item.lg-next-slide
{
    -webkit-transform: skew(20deg, 0deg) translate3d(100%, 0%, 0px);
            transform: skew(20deg, 0deg) translate3d(100%, 0%, 0px);
}

.lg-css3.lg-slide-skew .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(-20deg, 0deg) translate3d(-100%, 0%, 0px);
            transform: skew(-20deg, 0deg) translate3d(-100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(-20deg, 0deg) translate3d(100%, 0%, 0px);
            transform: skew(-20deg, 0deg) translate3d(100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-cross .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-cross .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, 60deg) translate3d(-100%, 0%, 0px);
            transform: skew(0deg, 60deg) translate3d(-100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-cross .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, 60deg) translate3d(100%, 0%, 0px);
            transform: skew(0deg, 60deg) translate3d(100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-cross .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-cross .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-cross .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-cross .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-cross-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, -60deg) translate3d(-100%, 0%, 0px);
            transform: skew(0deg, -60deg) translate3d(-100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, -60deg) translate3d(100%, 0%, 0px);
            transform: skew(0deg, -60deg) translate3d(100%, 0%, 0px);
}

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-ver .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-ver .lg-item.lg-prev-slide
{
    -webkit-transform: skew(60deg, 0deg) translate3d(0, -100%, 0px);
            transform: skew(60deg, 0deg) translate3d(0, -100%, 0px);
}

.lg-css3.lg-slide-skew-ver .lg-item.lg-next-slide
{
    -webkit-transform: skew(60deg, 0deg) translate3d(0, 100%, 0px);
            transform: skew(60deg, 0deg) translate3d(0, 100%, 0px);
}

.lg-css3.lg-slide-skew-ver .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-ver .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-ver .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-ver .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-ver-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(-60deg, 0deg) translate3d(0, -100%, 0px);
            transform: skew(-60deg, 0deg) translate3d(0, -100%, 0px);
}

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(-60deg, 0deg) translate3d(0, 100%, 0px);
            transform: skew(-60deg, 0deg) translate3d(0, 100%, 0px);
}

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-ver-cross .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, 20deg) translate3d(0, -100%, 0px);
            transform: skew(0deg, 20deg) translate3d(0, -100%, 0px);
}

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, 20deg) translate3d(0, 100%, 0px);
            transform: skew(0deg, 20deg) translate3d(0, 100%, 0px);
}

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-prev-slide
{
    -webkit-transform: skew(0deg, -20deg) translate3d(0, -100%, 0px);
            transform: skew(0deg, -20deg) translate3d(0, -100%, 0px);
}

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-next-slide
{
    -webkit-transform: skew(0deg, -20deg) translate3d(0, 100%, 0px);
            transform: skew(0deg, -20deg) translate3d(0, 100%, 0px);
}

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-current
{
    -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
            transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);

    opacity: 1;
}

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-prev-slide,
.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-next-slide,
.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-lollipop .lg-item
{
    opacity: 0;
}

.lg-css3.lg-lollipop .lg-item.lg-prev-slide
{
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}

.lg-css3.lg-lollipop .lg-item.lg-next-slide
{
    -webkit-transform: translate3d(0, 0, 0) scale(.5);
            transform: translate3d(0, 0, 0) scale(.5);
}

.lg-css3.lg-lollipop .lg-item.lg-current
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-lollipop .lg-item.lg-prev-slide,
.lg-css3.lg-lollipop .lg-item.lg-next-slide,
.lg-css3.lg-lollipop .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-lollipop-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-lollipop-rev .lg-item.lg-prev-slide
{
    -webkit-transform: translate3d(0, 0, 0) scale(.5);
            transform: translate3d(0, 0, 0) scale(.5);
}

.lg-css3.lg-lollipop-rev .lg-item.lg-next-slide
{
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

.lg-css3.lg-lollipop-rev .lg-item.lg-current
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-lollipop-rev .lg-item.lg-prev-slide,
.lg-css3.lg-lollipop-rev .lg-item.lg-next-slide,
.lg-css3.lg-lollipop-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-rotate .lg-item
{
    opacity: 0;
}

.lg-css3.lg-rotate .lg-item.lg-prev-slide
{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}

.lg-css3.lg-rotate .lg-item.lg-next-slide
{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.lg-css3.lg-rotate .lg-item.lg-current
{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);

    opacity: 1;
}

.lg-css3.lg-rotate .lg-item.lg-prev-slide,
.lg-css3.lg-rotate .lg-item.lg-next-slide,
.lg-css3.lg-rotate .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-rotate-rev .lg-item
{
    opacity: 0;
}

.lg-css3.lg-rotate-rev .lg-item.lg-prev-slide
{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.lg-css3.lg-rotate-rev .lg-item.lg-next-slide
{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}

.lg-css3.lg-rotate-rev .lg-item.lg-current
{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);

    opacity: 1;
}

.lg-css3.lg-rotate-rev .lg-item.lg-prev-slide,
.lg-css3.lg-rotate-rev .lg-item.lg-next-slide,
.lg-css3.lg-rotate-rev .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

.lg-css3.lg-tube .lg-item
{
    opacity: 0;
}

.lg-css3.lg-tube .lg-item.lg-prev-slide
{
    -webkit-transform: scale3d(1, 0, 1) translate3d(-100%, 0, 0);
            transform: scale3d(1, 0, 1) translate3d(-100%, 0, 0);
}

.lg-css3.lg-tube .lg-item.lg-next-slide
{
    -webkit-transform: scale3d(1, 0, 1) translate3d(100%, 0, 0);
            transform: scale3d(1, 0, 1) translate3d(100%, 0, 0);
}

.lg-css3.lg-tube .lg-item.lg-current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

.lg-css3.lg-tube .lg-item.lg-prev-slide,
.lg-css3.lg-tube .lg-item.lg-next-slide,
.lg-css3.lg-tube .lg-item.lg-current
{
    transition: opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s;
}

/*# sourceMappingURL=lg-transitions.css.map */

/*owl.carousel.css*/
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel
{
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; 

    display: none;

    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-stage
{
    position: relative;

    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after
{
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0; 

    content: '.';
}

.owl-carousel .owl-stage-outer
{
    position: relative;

    overflow: hidden;
    /* fix for flashing background */

    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item
{
    position: relative;

    float: left;

    min-height: 1px;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img
{
    display: block;

    width: 100%;

    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled
{
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot
{
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.owl-carousel.owl-loaded
{
    display: block;
}

.owl-carousel.owl-loading
{
    display: block; 

    opacity: 0;
}

.owl-carousel.owl-hidden
{
    transition: opacity .4s ease; 

    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item
{
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.owl-carousel.owl-grab
{
    cursor: move;
    cursor: -webkit-grab;
    cursor:         grab;
}

.owl-carousel.owl-rtl
{
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item
{
    float: right;
}

/* No Js */
.no-js .owl-carousel
{
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated
{
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.owl-carousel .owl-animated-in
{
    z-index: 0;
}

.owl-carousel .owl-animated-out
{
    z-index: 1;
}

.owl-carousel .fadeOut
{
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}

@-webkit-keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height
{
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy
{
    transition: opacity 400ms ease; 

    opacity: 0;
}

.owl-carousel .owl-item img.owl-lazy
{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper
{
    position: relative;

    height: 100%;

    background: #000;
}

.owl-carousel .owl-video-play-icon
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;

    cursor: pointer;
    transition: -webkit-transform 100ms ease;
    transition:         transform 100ms ease;
    transition:         transform 100ms ease, -webkit-transform 100ms ease; 

    background: url('owl.video.play.html') no-repeat;

    -webkit-backface-visibility: hidden;
}

.owl-carousel .owl-video-play-icon:hover
{
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon
{
    display: none;
}

.owl-carousel .owl-video-tn
{
    height: 100%;

    transition: opacity 400ms ease; 

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.owl-carousel .owl-video-frame
{
    position: relative;
    z-index: 1;

    width: 100%; 
    height: 100%;
}

/*all_reset.scss*/
/*
    reset.css
    wezom noscript.css
    print.css
    Wezom wTPL v4.0.0
*/
/*-------------------------------  Reset  ------------------------------------*/
article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
video
{
    display: inline-block;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

fieldset
{
    margin: 0 2px;
    padding: .3em .7em .7em;

    border: 1px solid #ddd;
}
fieldset legend
{
    white-space: normal;
}

embed,
img,
object
{
    max-width: 100%;
}

img
{
    height: auto;
}

a img
{
    cursor: pointer;
    text-decoration: none; 

    border: 0;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited
{
    outline: 0;
}

b,
dt,
strong
{
    font-weight: 700;
}

dfn,
em,
i
{
    font-style: italic;
}

blockquote,
q
{
    font-style: italic; 

    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

hr
{
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    margin: 1.5em 0;
    padding: 0;

    border: none;
    background: #999;
}

mark
{
    color: #000;
    background: #ff0;
}

pre
{
    margin: 1em 0;
    padding: 1em;

    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; 

    border: 1px solid #666;
    border-radius: .25em;
    background: #eee;
}

code,
kbd,
pre,
samp
{
    font-family: 'courier new',monospace,serif;
    font-size: 1em;
}

small
{
    font-size: 80%;
}

big
{
    font-size: 125%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
    left: -.3em;
}

sub
{
    bottom: -.2em;
    left: -.3em;
}

abbr[title],
dfn[title]
{
    cursor: help; 

    border-bottom: 1px dotted #000;
}

ins,
u
{
    text-decoration: underline;
}

del,
s
{
    text-decoration: line-through;
}

dd + dt
{
    margin-top: 1em;
}

dd
{
    margin: 0 0 0 40px;
}

nav ol,
nav ul,
ol,
ul,
dl,
menu
{
    list-style: none;
}

dl,
menu
{
    margin: 1em 0 1em 1em;
}

table
{
    width: 100%;

    border-spacing: 0; 
    border-collapse: collapse;
}

td,
td img
{
    vertical-align: top;
}

::-moz-selection
{
    color: #fff;
    background: #2597ff; 
    text-shadow: none;
}

::selection
{
    color: #fff;
    background: #2597ff; 
    text-shadow: none;
}

::-moz-selection
{
    color: #fff;
    background: #2597ff; 
    text-shadow: none;
}

::-ms-selection
{
    color: #fff;
    background: #2597ff; 
    text-shadow: none;
}

[hidden]
{
    display: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit']
{
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='url'],
input[type='tel'],
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea
{
       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='checkbox'],
input[type='radio']
{
    cursor: pointer;
}

button[disabled],
input[disabled]
{
    cursor: not-allowed;
}

button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

input[type='search']
{
    box-sizing: content-box; 

    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}

input::-ms-clear
{
    display: none;

    width: 0;
    height: 0;
}

input::-ms-reveal
{
    display: none;

    width: 0;
    height: 0;
}

input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

input:invalid
{
    box-shadow: none;
}

button,
input,
textarea,
select
{
    font-family: sans-serif;
    font-size: 100%;

    margin: 0;

    vertical-align: baseline;

    outline: 0;
}

textarea
{
    overflow: auto;

    max-width: 100%;

    vertical-align: top;
}

input[type='url'],
input[type='tel'],
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea
{
    border-radius: 0;
}
input[type='url']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='password']:focus,
textarea:focus
{
    background: #ffface !important;
}

input::-webkit-input-placeholder
{
    color: #999;
}

input::-moz-placeholder
{
    opacity: 1; 
    color: #999;
}

input:-ms-input-placeholder
{
    color: #999;
}

textarea::-webkit-input-placeholder
{
    color: #999;
}

textarea::-moz-placeholder
{
    opacity: 1; 
    color: #999;
}

textarea:-ms-input-placeholder
{
    color: #999;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
{
    color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder
{
    color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder
{
    color: transparent;
}

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

html
{
    font-family: sans-serif;
    font-size: 100%;

    display: block;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*-------------------------------  NOSCRIPT  ------------------------------------*/
.wzmMsg_Wrapp
{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;

    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    overflow: visible;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0 3px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;

    color: #000;
    border-bottom: 1px solid #ababab;
    background-color: #fcea9c;

    -webkit-backface-visibility: hidden;
}

.wzmMsg_Text
{
    min-height: 20px;
    margin-left: 70px;
    padding: 0 30px 0 10px;

    border-left: 1px solid #ababab;
}
.wzmMsg_Text > p
{
    margin: 5px 0;

    white-space: normal;
}
.wzmMsg_Text a
{
    text-decoration: underline;

    color: #f00;
}
.wzmMsg_Text a:hover
{
    color: #900;
}

.wzmMsg_Link
{
    position: absolute;
    top: 7px;
    left: 10px;

    display: block;

    width: 50px;
    height: 18px;

    text-decoration: none !important;

    outline: none;
}
.wzmMsg_Link img
{
    border: none;
}

#wzmMsg_JsClose,
.wzmMsg_Close
{
    font-size: 22px;
    line-height: 26px;

    position: absolute;
    top: 5px;
    right: 5px;

    display: block;

    width: 26px;
    height: 26px;

    cursor: hand;
    cursor: pointer; 
    text-align: center;
}

#wzmMsg_JsClose
{
    z-index: 9999;

    opacity: 0;
}
#wzmMsg_JsClose:checked,
#wzmMsg_JsClose:checked + .wzmMsg_Wrapp
{
    display: none;
}

.wzmMsg_Close > span
{
    line-height: 26px; 

    position: relative;

    display: block;

    width: 26px;
    height: 26px;
}

#wzmMsg_JsClose:hover + .wzmMsg_Wrapp .wzmMsg_Close,
.wzmMsg_Close:hover
{
    background-color: #ead371;
}

#wzmMsg_JsClose:active + .wzmMsg_Wrapp .wzmMsg_Close,
.wzmMsg_Close:active
{
    background-color: #beaf6e;
}

/*-------------------------------  Print  ------------------------------------*/
@media print
{
    *
    {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important; 
        text-shadow: none !important;
    }
    a
    {
        text-decoration: underline;
    }
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ') ';
    }
    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ') ';
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    @page
    {
        margin: .5cm;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
}

/*gray.scss*/
/*! Gray v1.5.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale
{
    /* Firefox 10-34 */
            filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale');
    /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
    -webkit-filter: grayscale(1);
    /* Firefox 35+ */
            filter: grayscale(1);
    /* IE 6-9 */
    -webkit-filter: gray;
            filter: gray;
}

.grayscale.grayscale-fade
{
    transition: -webkit-filter .8s;
    transition:         filter .8s;
    transition:         filter .8s, -webkit-filter .8s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    .grayscale.grayscale-fade
    {
        transition: -webkit-filter .8s;
    }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover
{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced
{
    -webkit-filter: none;
            filter: none;
}

.grayscale.grayscale-replaced > svg
{
    transition: opacity .8s ease;

    opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg
{
    opacity: 0;
}

/*jquery-magnific-popup.scss*/
/*
    jquery-magnific-popup.css
    Wezom wTPL v3.0
*/
/*-------------------------------  Magnific  ------------------------------------*/
/* Magnific Popup CSS */
.mfp-bg
{
    position: fixed;
    z-index: 1042;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    opacity: .8;
    background: #0b0b0b;

    filter: alpha(opacity=80);
}

.mfp-wrap
{
    position: fixed;
    z-index: 1043;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    outline: none !important;

    -webkit-backface-visibility: hidden;
}

.mfp-container
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 8px;

    text-align: center;
}

.mfp-container:before
{
    display: inline-block;

    height: 100%;

    content: '';
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before
{
    display: none;
}

.mfp-content
{
    position: relative;
    z-index: 1045;

    display: inline-block;

    margin: 0 auto;

    text-align: left;
    vertical-align: middle;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content
{
    width: 100%;

    cursor: auto;
}

.mfp-ajax-cur
{
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close
{
    cursor: -webkit-zoom-out;
    cursor:         zoom-out;
}

.mfp-zoom
{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}

.mfp-auto-cursor .mfp-content
{
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

         -o-user-select: none;
}

.mfp-loading.mfp-figure
{
    display: none;
}

.mfp-hide
{
    display: none !important;
}

.mfp-preloader
{
    position: absolute;
    z-index: 1044;
    top: 50%;
    right: 8px;
    left: 8px;

    width: auto;
    margin-top: -.8em;

    text-align: center;

    color: #ccc;
}

.mfp-preloader a
{
    color: #ccc;
}

.mfp-preloader a:hover
{
    color: white;
}

.mfp-s-ready .mfp-preloader
{
    display: none;
}

.mfp-s-error .mfp-content
{
    display: none;
}

button.mfp-close,
button.mfp-arrow
{
    z-index: 1046;

    display: block;
    overflow: visible;

    padding: 0;

    cursor: pointer; 

    border: 0;
    outline: none;
    background: transparent;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

.mfp-close
{
    font-family: Arial,Baskerville,monospace;
    font-size: 28px;
    font-style: normal;
    line-height: 44px;

    position: absolute;
    top: 0;
    right: 0;

    width: 44px;
    height: 44px;
    padding: 0 0 18px 10px;

    text-align: center;
    text-decoration: none;

    opacity: .65;
    color: white;

    filter: alpha(opacity=65);
}

.mfp-close:hover,
.mfp-close:focus
{
    opacity: 1;

    filter: alpha(opacity=100);
}

.mfp-close:active
{
    top: 1px;
}

.mfp-close-btn-in .mfp-close
{
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close
{
    right: -6px;

    width: 100%;
    padding-right: 6px;

    text-align: right;

    color: white;
}

.mfp-counter
{
    font-size: 12px;
    line-height: 18px;

    position: absolute;
    top: 0;
    right: 0;

    color: #ccc;
}

.mfp-arrow
{
    position: absolute;
    top: 50%;

    width: 90px;
    height: 110px;
    margin: 0;
    margin-top: -55px;
    padding: 0;

    opacity: .65;

    filter: alpha(opacity=65);
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active
{
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus
{
    opacity: 1;

    filter: alpha(opacity=100);
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;

    content: '';

    border: medium inset transparent;
}

.mfp-arrow:after,
.mfp-arrow .mfp-a
{
    top: 8px;

    border-top-width: 13px;
    border-bottom-width: 13px;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b
{
    opacity: .7; 
    border-top-width: 21px;
    border-bottom-width: 21px;
}

.mfp-arrow-left
{
    left: 0;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a
{
    margin-left: 31px;

    border-right: 17px solid white;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b
{
    margin-left: 25px;

    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right
{
    right: 0;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a
{
    margin-left: 39px;

    border-left: 17px solid white;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b
{
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content
{
    line-height: 0; 

    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close
{
    top: -40px;
}

.mfp-iframe-scaler
{
    overflow: hidden; 

    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

/* Main image in popup */
img.mfp-img
{
    line-height: 0; 

    display: block;

    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 40px;
}

/* The shadow behind the image */
.mfp-figure
{
    line-height: 0;
}

.mfp-figure:after
{
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;

    display: block;

    width: auto;
    height: auto;

    content: '';

    background: #444;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.mfp-figure small
{
    font-size: 12px;
    line-height: 14px;

    display: block;

    color: #bdbdbd;
}

.mfp-figure figure
{
    margin: 0;
}

.mfp-bottom-bar
{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    margin-top: -36px;

    cursor: auto;
}

.mfp-title
{
    line-height: 18px;

    padding-right: 36px;

    text-align: left;
    word-wrap: break-word; 

    color: #f3f3f3;
}

.mfp-image-holder .mfp-content
{
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure
{
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px)
{
    .mfp-img-mobile .mfp-image-holder
    {
        padding-right: 0;
        padding-left: 0;
    }
    .mfp-img-mobile img.mfp-img
    {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after
    {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small
    {
        display: inline;

        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar
    {
        position: fixed;
        top: auto;
        bottom: 0;

        box-sizing: border-box;
        margin: 0;
        padding: 3px 5px;

        background: rgba(0, 0, 0, .6);
    }
    .mfp-img-mobile .mfp-bottom-bar:empty
    {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter
    {
        top: 3px;
        right: 5px;
    }
    .mfp-img-mobile .mfp-close
    {
        line-height: 35px;

        position: fixed;
        top: 0;
        right: 0;

        width: 35px;
        height: 35px;
        padding: 0;

        text-align: center;

        background: rgba(0, 0, 0, .6);
    }
}

@media all and (max-width: 900px)
{
    .mfp-arrow
    {
        -webkit-transform: scale(.75);
                transform: scale(.75);
    }
    .mfp-arrow-left
    {
        -webkit-transform-origin: 0;
                transform-origin: 0;
    }
    .mfp-arrow-right
    {
        -webkit-transform-origin: 100%;
                transform-origin: 100%;
    }
    .mfp-container
    {
        padding-right: 6px;
        padding-left: 6px;
    }
}

.mfp-ie7 .mfp-img
{
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar
{
    left: 50%;

    width: 600px;
    margin-top: 5px;
    margin-left: -300px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container
{
    padding: 0;
}

.mfp-ie7 .mfp-content
{
    padding-top: 44px;
}

.mfp-ie7 .mfp-close
{
    top: 0;
    right: 0;

    padding-top: 0;
}

.zoom-in .mfp-preloader,
.zoom-in .mfp-arrow,
.zoom-in .mfp-content
{
    transition: all .4s ease-in-out;
    -webkit-transform: scale(.8);
            transform: scale(.8); 

    opacity: 0;
}

/* animate in */
.zoom-in.mfp-ready .mfp-preloader,
.zoom-in.mfp-ready .mfp-arrow,
.zoom-in.mfp-ready .mfp-content
{
    transition-timing-function: cubic-bezier(.63, .55, .31, 1.5);
    -webkit-transform: scale(1);
            transform: scale(1); 

    opacity: 1;
}

/* animate out */
.zoom-in.mfp-removing .mfp-preloader,
.zoom-in.mfp-removing .mfp-arrow,
.zoom-in.mfp-removing .mfp-content
{
    -webkit-transform: scale(.8);
            transform: scale(.8);

    opacity: 0;
}

/* Dark overlay, start state */
.zoom-in.mfp-bg
{
    /* Chrome opacity transition bug */
    transition: opacity .3s ease-out; 

    opacity: .001;
}

/* animate in */
.zoom-in.mfp-ready.mfp-bg
{
    opacity: .8;
}

/* animate out */
.zoom-in.mfp-removing.mfp-bg
{
    opacity: 0;
}

.mfp-image > *
{
    cursor: pointer;
}

/* mfiModal */
.mfiModal
{
    position: relative;

    width: 90%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;

    background: #fff;
}

.mfiModal.medium
{
    max-width: 540px;
}

.mfiModal.big
{
    max-width: 720px;
}

/*jquery-validation.scss*/
/*
    jquery-validation.css
    Wezom wTPL v3.0
*/
/*-------------------------------  validation ------------------------------------*/
.wForm
{
    position: relative;
}
.wForm .error
{
    border-color: #eb4f1f !important;
}
.wForm label
{
    cursor: pointer;
}
.wForm label.error
{
    font-size: 11px;
    line-height: 13px;

    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;

    max-width: 100%;
    padding: 2px 8px;

    cursor: help; 
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    text-align: center;

    border: 1px solid #eb4f1f;
    background: #fff;
}
.wForm label.error:before,
.wForm label.error:after
{
    position: absolute;
    bottom: 100%;
    left: 10%;

    width: 0;
    height: 0;

    content: ' ';
    pointer-events: none; 

    border: solid transparent;
}
.wForm label.error:before
{
    margin-left: -5px; 

    border-width: 5px;
    border-color: rgba(235, 79, 31, 0);
    border-bottom-color: #eb4f1f;
}
.wForm label.error:after
{
    margin-left: -4px; 

    border-width: 4px;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
}

.wFileVal,
.wCheck,
.wRadio
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

         -o-user-select: none;
}

/*-------------------------------  wFormDef  ------------------------------------*/
.wFormDef .wFormRow
{
    position: relative;

    margin: 16px 0; 

    cursor: default;
}
.wFormDef .wFormRow:first-child
{
    margin-top: 0;
}
.wFormDef .wFormRow:last-child
{
    margin-bottom: 0;
}

.wFormDef .wFormInput
{
    position: relative;

    display: block;

    margin-bottom: 12px;
}
.wFormDef .wFormInput:last-child
{
    margin-bottom: 0;
}

.wFormDef .wLabel
{
    display: block;

    margin-left: 3px; 
    padding: 5px 0;

    text-transform: uppercase;
}

.wFormDef .wInput,
.wFormDef .wInputSpan,
.wFormDef .wTextarea,
.wFormDef .wSelect
{
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 12px;

    border: 1px solid #ccc;
    background-color: #fff;
}
.wFormDef .wInput:hover,
.wFormDef .wInputSpan:hover,
.wFormDef .wTextarea:hover,
.wFormDef .wSelect:hover
{
    background: #f8f8f8;
}
.wFormDef .wInput:focus,
.wFormDef .wInputSpan:focus,
.wFormDef .wTextarea:focus,
.wFormDef .wSelect:focus
{
    border-color: #5696d0;
    box-shadow: inset 0 0 0 1px #5696d0;
}

.wFormDef .error.wInput,
.wFormDef .error.wInputSpan,
.wFormDef .error.wTextarea,
.wFormDef .error.wSelect
{
    background-color: #fdd;
}

.wFormDef .error.wInput:focus,
.wFormDef .error.wInputSpan:focus,
.wFormDef .error.wTextarea:focus,
.wFormDef .error.wSelect:focus,
.wFormDef .wFile.error:active ~ .wFileVal,
.wFormDef .wFile.error:focus ~ .wFileVal,
.wFormDef .wFile.error:hover ~ .wFileVal
{
    border-color: #eb4f1f;
    box-shadow: inset 0 0 0 1px #eb4f1f;
}

.wFormDef .wInputSpan
{
    line-height: 16px; 

    min-height: 40px;

    background-color: transparent;
}

.wFormDef .wTextarea
{
    min-height: 120px;
    max-height: 320px;
}

.wFormDef .wFileVal > span
{
    display: block;
    overflow: hidden;

    width: 100%;
    max-width: 100%; 

    white-space: nowrap;
    text-overflow: ellipsis;
}
.wFormDef .wFileVal > span > ins
{
    font-style: italic; 

    text-decoration: none;

    color: #999;
}

.wFormDef label.error:not([style$='none;']) ~ .wFileVal
{
    border-color: #eb4f1f;
}

.wFormDef .wCheck,
.wFormDef .wRadio
{
    margin: 0 10px 8px 0;
}
.wFormDef .wCheck span,
.wFormDef .wRadio span
{
    position: relative;

    display: inline;
}
.wFormDef .wCheck ins,
.wFormDef .wRadio ins
{
    position: relative;

    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 4.8px;

    transition: box-shadow .15s linear, border-color .15s linear; 
    text-decoration: none;

    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #eb4f1f;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5), inset 0 0 0 16px #fff;
}

.wFormDef .wCheck,
.wFormDef .wRadio,
.wFormDef .wCheck span,
.wFormDef .wRadio span,
.wFormDef .wCheck ins,
.wFormDef .wRadio ins
{
    line-height: 18px;
}

.wFormDef .wCheck,
.wFormDef .wRadio,
.wFormDef .wCheck ins,
.wFormDef .wRadio ins
{
    display: inline-block;

    vertical-align: top;
}

.wFormDef .wFile,
.wFormDef .wCheck input,
.wFormDef .wRadio input
{
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    pointer-events: none; 

    opacity: 0;
}

.wFormDef .wCheck input:checked ~ ins,
.wFormDef .wRadio input:checked ~ ins
{
    border-color: transparent; 
    box-shadow: inset 0 0 0 4px #fff;
}

.wFormDef .wRadio ins
{
    border-radius: 18px;
}

.wFormDef .inpInfo
{
    font-size: 9px;
    line-height: 12px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    overflow: hidden;

    height: 0;
    padding: 2px 6px;

    transition: opacity .2s ease, height .2s ease; 
    text-transform: uppercase;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    border-radius: 0 3px 0 3px;
    background: #5696d0;
}

.wFormDef .wTextarea.error ~ .inpInfo,
.wFormDef .wSelect.error ~ .inpInfo,
.wFormDef .wInput.error ~ .inpInfo
{
    background: #f00;
}

.wFormDef .wTextarea:focus ~ .inpInfo,
.wFormDef .wSelect:focus ~ .inpInfo,
.wFormDef .wInput:focus ~ .inpInfo
{
    height: 12px;

    -webkit-transform: none;
            transform: none; 

    opacity: 1;
}

.wFormDef .wCaption
{
    font-size: 12px;
    font-style: italic;
    line-height: 14px;

    display: block;

    margin-bottom: 5px; 

    color: #999;
}

.no-touch .wFormDef .wInput[type='number'],
.no-touch .wFormDef .wInput[type='date']
{
    -moz-appearance: textfield;
}
.no-touch .wFormDef .wInput[type='number']::-webkit-outer-spin-button,
.no-touch .wFormDef .wInput[type='number']::-webkit-inner-spin-button,
.no-touch .wFormDef .wInput[type='date']::-webkit-outer-spin-button,
.no-touch .wFormDef .wInput[type='date']::-webkit-inner-spin-button
{
       -moz-appearance: none;
            appearance: none;
    -webkit-appearance: none;
}

/*wBreadcrumbs.scss*/
.breadcrumbs
{
    font-size: 0;
    line-height: 0; 

    display: table;

    width: 100%;
}
.breadcrumbs > span
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    display: inline-block;

    margin-right: 3px; 

    vertical-align: top;

    color: #777;
}
.breadcrumbs > span:after
{
    display: inline-block;

    margin-left: 3px; 

    content: '/';
    vertical-align: top;
}
.breadcrumbs > span:last-child:after
{
    display: none;
}
.breadcrumbs > span > a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    text-decoration: underline; 

    color: #777;
}
.breadcrumbs > span > a:hover
{
    text-decoration: none;
}

/*# sourceMappingURL=maps/components.css.map */
