.white-active{
    color: #838386 !important;
}
.white{
    color: #fff !important;
}
.white:hover{
    color: #838386 !important;
}
.white:focus{
    color: #838386 !important;
}

.current{
    color:#ffec17 !important;
}
.current:before{
    background: #ffec17 !important;
    opacity: 1 !important;
    right: 0 !important;
}
.current-rtl{
    color:#ffec17 !important;
}
.current-rtl:before{
    background: #ffec17 !important;
    opacity: 1 !important;
    left: 0 !important;
}
@media (min-width: 250px) {
    .response{
        width: 80%;
        margin: 25px;
    }
}
.active-menu{
    content: '$';
    color: #ed1c94 !important;
    /*border-bottom: 2px dashed #ea4257;*/
}
.active-menu::before{
    content: '\f060';
    font-family: "FontAwesome";
    margin-right: 0px !important;
    transition: opacity .15s ease-in-out, .15s margin ease-in-out;
    opacity: 1 !important;
    padding-left: 5px;
    color: #ed1c94 !important;
}
