/*
Theme Name: Tero design
Theme URI: chizz.team
Description: Tero design template
Author: Chizz.team
Author URI: http://chizz.team
Version: 1.0
*/
@font-face
{
    font-family: 'Avenir Next Cyr';
    font-weight: bold;
    font-style: normal;

    src: url('fonts/subset-AvenirNextCyr-Demi.woff2') format('woff2'), url('fonts/subset-AvenirNextCyr-Demi.woff') format('woff');
}

@font-face
{
    font-family: 'Avenir Next Cyr';
    font-weight: 100;
    font-style: normal;

    src: url('fonts/subset-AvenirNextCyr-Thin.woff2') format('woff2'), url('fonts/subset-AvenirNextCyr-Thin.woff') format('woff');
}

@font-face
{
    font-family: 'Avenir Next Cyr';
    font-weight: 300;
    font-style: normal;

    src: url('fonts/subset-AvenirNextCyr-Light.woff2') format('woff2'), url('fonts/subset-AvenirNextCyr-Light.woff') format('woff');
}

body
{
    font-size: 14px;
    line-height: 1.9em;

    position: relative;

    min-width: 320px;

    color: #090909;
    background: #fff;
}

body,
button,
input,
select,
textarea
{
    font-family: 'Avenir Next Cyr', sans-serif;
}

/*a*/
/*{*/
    /*color: #43f;*/
/*}*/

.w_clearfix:after,
.wSize:after,
.wTxt:after
{
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.svgHolder
{
    position: relative;
}
.svgHolder > svg
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.wWrapper
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
            flex-direction: column;

    min-height: 100%;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.wSize
{
    position: relative;

    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
}

.wContainer
{
    position: relative;

    min-height: 100%;

    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
}

.wFooter
{
    position: relative;

    overflow: hidden;
}

.wHeader
{
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 26px 22px;

    border-bottom: 1px solid #ededed;
}
@media (max-width: 1024px)
{
    .wHeader
    {
        padding: 27px 10px;
    }
}
@media (min-width: 700px) and  (max-width: 834px )
{
    .wHeader
    {
        padding:29px 64px;
        text-align: center;
    }
}
@media (max-width: 700px)
{
    .wHeader
    {
        padding:29px 64px;
        text-align: center;
    }
}

.mobile__menu
{
    display: none;
}
.mobile__menu .svgHolder
{
    display: inline-block;

    width: 22px;
    height: 22px;

    vertical-align: top;

    fill: #181818;
}
@media (max-width: 770px)
{
    .mobile__menu
    {
        display: inline-block;

        vertical-align: top;
    }
}

.mobile__overlay
{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;

    display: table;

    width: 100%;
    height: 100%;
    min-height: 100%;

    transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    transition:         transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    text-align: center;

    background: #ededed;
}
.mobile__overlay__menu
{
    display: table-cell;

    vertical-align: middle;
}
.mobile__overlay__menu__item
{
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;

    margin-bottom: 15px;

    text-transform: uppercase;
}
.mobile__overlay__close
{
    font-size: 32px;
    font-weight: 100;

    position: absolute;
    top: 20px;
    right: 30px;

    color: #181818;
}
.mobile__overlay.opened
{
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.headerLine__menu{
	display:none;
}

.headerLine
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.headerLine__logo
{
    font-size: 0;

    display: table;
}
.headerLine__logo__image
{
    line-height: 0;

    position: relative;

    display: inline-block;

    margin-right: 15px;

    vertical-align: middle;
}
@media (max-width: 770px)
{
    .headerLine__logo__image
    {
        margin-right: 8px;
    }
}
.headerLine__logo__image .logo1
{
    position: relative;
    z-index: 2;

    height: 90px;

    cursor: pointer;
    transition: opacity .4s ease-in-out;
}
@media (max-width: 1024px)
{
    .headerLine__logo__image .logo1
    {
        height: 72px;
    }
}
@media (max-width: 770px)
{
    .headerLine__logo__image .logo1
    {
        height: 50px;
    }
}
.headerLine__logo__image .logo1:hover
{
    opacity: 0;
}
.headerLine__logo__image .logo2
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.headerLine__logo__text
{
    font-size: 20px;
    font-weight: 300;

    display: inline-block;

    vertical-align: middle;
    text-transform: uppercase;
}
@media (max-width: 1024px)
{
    .headerLine__logo__text
    {
        font-size: 18px;
    }
}
@media (max-width: 770px)
{
    .headerLine__logo__text
    {
        font-size: 16px;
    }
}
@media (max-width: 440px)
{
    .headerLine__logo__text
    {
        display: none;
    }
}
.headerLine__soc
{
    position: relative;

    display: inline-block;

    padding: 0 25px;

    cursor: pointer;
    vertical-align: middle;
}
@media (max-width: 1024px)
{
    .headerLine__soc
    {
        padding: 0 10px;
    }
}
.headerLine__soc:hover .headerLine__soc__button .svgHolder
{
    opacity: .75;
}
.headerLine__soc__button
{
    cursor: pointer;
}
.headerLine__soc__button .svgHolder
{
    display: block;

    width: 24px;
    height: 24px;

    transition: fill .4s ease;

    fill: #181818;
}
.headerLine__soc__list
{
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
    margin-top: 5px;

    background: #fff;
}
.headerLine__soc__list a
{
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;

    display: block;

    height: 40px;

    transition: background .4s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #090909;
}
.headerLine__soc__list a:hover
{
    background: #ededed;
}
.headerLine__soc__list a .svgHolder
{
    display: inline-block;

    margin: 0 auto;

    transition: fill .4s ease;
    vertical-align: middle;
}
.headerLine__soc__list a:hover .svgHolder
{
    fill: #080808;
}
@media (max-width: 1024px)
{
    .headerLine__soc__list a
    {
        font-size: 18px;
        line-height: 35px;

        height: 35px;
    }
}
.headerLine__menu
{
    font-size: 0;
    font-weight: 200;

    display: inline-block;

    vertical-align: middle;
    text-transform: uppercase;
}
.headerLine__menu li
{
    font-size: 18px;

    position: relative;

    display: inline-block;

    margin-right: 35px;

    vertical-align: middle;
}
.headerLine__menu li:last-child
{
    margin-right: 5px;
}
@media (max-width: 1024px)
{
    .headerLine__menu li
    {
        font-size: 18px;

        margin-right: 20px;
    }
}
.headerLine__menu a
{
    position: relative;
    top: 0;
    left: 0;

    transition: letter-spacing .3s ease, margin .3s ease;
    text-decoration: none;
    letter-spacing: 0;

    color: #090909;
}
.headerLine__menu a:hover
{
    opacity: .75;
}
@media (max-width: 800px)
{
    .headerLine__menu
    {
        display: none;
    }
    .foot-work{
        display: block !important;
    }
}
.headerLine__lang
{
    position: relative;

    display: inline-block;

    margin: 0 35px;
    padding: 0 15px;

    cursor: pointer;
    vertical-align: middle;
}
.headerLine__lang:hover .headerLine__lang__current span
{
    opacity: .75;
}
@media (max-width: 1024px)
{
    .headerLine__lang
    {
        margin: 0 20px;
        padding: 0 10px;
    }
}
.headerLine__lang__current span
{
    font-size: 20px;
    font-weight: 100;

    position: relative;

    display: inline-block;

    vertical-align: middle;
    text-transform: uppercase;
}
.headerLine__lang__current span:after
{
    position: absolute;
    top: 50%;
    right: -10px;

    display: inline-block;

    width: 7px;
    height: 4px;
    margin-top: -2px;

    content: '';
    transition: -webkit-transform .4s ease;
    transition:         transform .4s ease;
    transition:         transform .4s ease, -webkit-transform .4s ease;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEAgMAAAA/qM3uAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX///9qamr///9Qmdv4AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAUSURBVAjXY3BgYRAQYGBxYGBkAAAE+gCqWgG7JgAAAABJRU5ErkJggg==) 0 0 no-repeat;
}
@media (max-width: 1024px)
{
    .headerLine__lang__current span
    {
        font-size: 18px;
    }
}
.headerLine__lang.droped .headerLine__lang__current span:after
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.headerLine__lang__list
{
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
    margin-top: 5px;

    background: #fff;
}
.headerLine__lang__list a
{
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;

    display: block;

    height: 40px;

    transition: background .4s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #090909;
}
.headerLine__lang__list a:hover
{
    background: #ededed;
}
@media (max-width: 1024px)
{
    .headerLine__lang__list a
    {
        font-size: 18px;
        line-height: 35px;

        height: 35px;
    }
}
.headerLine__menuLang
{
    font-size: 0;
}

.tetris
{
    z-index: 3;

    width: 100%;
    margin-bottom: 20px;
}
.tetris__item
{
    float: left;
    overflow: hidden;

    box-sizing: border-box;
    width: 20%;
    /*height: 0;*/

    cursor: pointer;
    line-height: 0;
}
.tetris__item > div:not(.grayImg)
{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: opacity 0.7s ease-in-out;

    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.tetris__item span
{
    font-size: 20px;
    font-weight: 100;
    line-height: 1;

    display: none;

    padding: 5px 10px;

    background: #fff;
}
.tetris__item .grayImg
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.tetris__item:hover > div
{
    opacity: 1;
}
@media (max-width: 1600px)
{
    .tetris__item
    {
        width: 25%;
    }
}

@media (max-width: 770px)
{
    .tetris__item
    {
        width: 33.33%;
        /*padding-bottom: 24.75%;*/
    }
}
@media (max-width: 440px)
{
    .tetris__item
    {
        width: 50%;
        /*padding-bottom: 37.5%;*/
    }
}
.tetris__horizontal
{
    width: 50%;
}
.tetris__horizontal img
{
    width: 100%;
    height: auto;
}
@media (max-width: 770px)
{
    .tetris__horizontal
    {
        width: 66.66%;
    }
}
@media (max-width: 440px)
{
    .tetris__horizontal
    {
        width: 100%;
    }
}
.tetris__vertical
{
    width: 25%;
    padding-bottom: 37.5%;
}
@media (max-width: 770px)
{
    .tetris__vertical
    {
        width: 33.33%;
        padding-bottom: 49.5%;
    }
}
@media (max-width: 440px)
{
    .tetris__vertical
    {
        width: 50%;
        padding-bottom: 75%;
    }
}

.footer
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    box-sizing: border-box;
    width: 100%;
    padding: 50px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 1024px)
{
    .footer
    {
        padding: 15px 10px;
    }
}
@media (max-width: 770px)
{
    .footer
    {
        padding: 10px;
    }
}
.footer__copyright,
.footer__develop
{
    font-size: 11px;
    font-weight: 300;

    text-transform: uppercase;

    color: #080808;
}
.footer__develop a{
	color: #080808;
	text-decoration:none;
}

.footer__soc
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    transition: background .4s ease, opacity .4s ease;
    vertical-align: middle;

    opacity: .5;
    border-radius: 50%;
    background-color: #838383;
}
.footer__soc:last-child
{
    margin-right: 0;
}
.footer__soc:hover
{
    opacity: 1;
    background-image: linear-gradient(to right, #222223 0%, #050505 100%);
}
.footer__soc .svgHolder
{
    display: block;
}
@media (max-width: 1024px)
{
    .footer__soc
    {
        margin-right: 10px;
    }
}
@media (max-width: 770px)
{
    .footer__soc
    {
        width: 26px;
        height: 26px;
        margin-right: 5px;
    }
}
@media (max-width: 440px)
{
    .footer__soc
    {
        display: none;
    }
}

.behance .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 18px;
    max-width: 18px;
    height: 11px;
    max-height: 11px;
    margin: auto;
    margin-top: 9px;

    fill: #fff;
}
@media (max-width: 770px)
{
    .behance .svgHolder
    {
        margin-top: 7px;
    }
}

.facebook .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 8px;
    max-width: 8px;
    height: 18px;
    max-height: 18px;
    margin: auto;

    fill: #fff;
}

.tumbrl .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 18px;
    max-width: 18px;
    height: 8px;
    max-height: 8px;
    margin: auto;

    fill: #fff;
    fill-rule: evenodd;
}

.pinterest .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 18px;
    max-width: 18px;
    height: 18px;
    max-height: 18px;
    margin: auto;

    fill: #fff;
}

.linkedin .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 17px;
    max-width: 17px;
    height: 17px;
    max-height: 17px;
    margin: auto;
    margin-top: 6px;

    fill: #fff;
}
@media (max-width: 770px)
{
    .linkedin .svgHolder
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 16px;
        max-width: 16px;
        height: 16px;
        max-height: 16px;
        margin: auto;
        margin-top: 4px;
    }
}

.youtube .svgHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
    margin: auto;

    fill: #fff;
}
@media (max-width: 770px)
{
    .youtube .svgHolder
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 18px;
        max-width: 18px;
        height: 18px;
        max-height: 18px;
        margin: auto;
    }
}

.behanceBig .svgHolder
{
    width: 19.8px;
    height: 12.1px;

    fill: #c6c6c6;
}

.facebookBig .svgHolder
{
    width: 8.8px;
    height: 19.8px;

    fill: #c6c6c6;
}

.tumbrlBig .svgHolder
{
    width: 19.8px;
    height: 8.8px;

    fill: #c6c6c6;
    fill-rule: evenodd;
}

.pinterestBig .svgHolder
{
    width: 19.8px;
    height: 19.8px;

    fill: #c6c6c6;
}

.linkedinBig .svgHolder
{
    width: 18.7px;
    height: 18.7px;

    fill: #c6c6c6;
}

.youtubeBig .svgHolder
{
    width: 22px;
    height: 22px;

    fill: #c6c6c6;
}

.behanceSmall .svgHolder
{
    width: 18px;
    height: 11px;

    fill: #7b7b7b;
}

.facebookSmall .svgHolder
{
    width: 8px;
    height: 18px;

    fill: #7b7b7b;
}

.tumbrlSmall .svgHolder
{
    width: 18px;
    height: 8px;

    fill: #7b7b7b;
    fill-rule: evenodd;
}

.pinterestSmall .svgHolder
{
    width: 18px;
    height: 18px;

    fill: #7b7b7b;
}

.linkedinSmall .svgHolder
{
    width: 17px;
    height: 17px;

    fill: #7b7b7b;
}

.youtubeSmall .svgHolder
{
    width: 20px;
    height: 20px;
    margin-top: -3px;

    fill: #7b7b7b;
}

.loaderbg {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #fff;
}

.loaderbg2 {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #fff;
    display: none;
}

.js-block{
    position: relative;
}

.loaderbg2 .block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
}

.loaderbg2 .block__inside{
    width: 90%;
    padding: 15px;
    line-height: 1.5;
    display: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.loaderbg2 .block__inside p{
    margin-bottom: 5px;
    text-align: center;
}

.loaderLogo
{
    position: absolute;
    top: 50%;
    left: 50%;

    transition: opacity .4s ease;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 0;
}
.loaderLogo.anim
{
    opacity: 1;
}


.loader2
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120px;
    height: 120px;
    margin: -61px 0 0 -61px;

    transition: opacity .4s ease;
    -webkit-animation: spinner 1.1s infinite linear;
    animation: spinner 1.1s infinite linear;

    opacity: 0;
    border-top: 2px solid #090909;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 50%;
}


@-webkit-keyframes spinner
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.loaderGallery
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: none;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 1.5%;

    background: #ededed;
}
.loaderGallery__images
{
    position: relative;

    width: 100%;
    height: 80%;

    text-align: center;
}
.loaderGallery__image
{
    box-sizing: content-box;
    height: 100%;

    transition: -webkit-transform .8s ease;
    transition:         transform .8s ease;
    transition:         transform .8s ease, -webkit-transform .8s ease;
}
.loaderGallery__image img
{
    width: auto;
    max-width: none;
    height: 100%;
}
.loaderGallery__name
{
    font-size: 22px;
    font-weight: 100;

    position: relative;

    margin: 40px 0;

    text-align: center;

    color: #090a0a;
}
.loaderGallery__icons
{
    font-size: 0;

    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}
.loaderGallery__icon
{
    font-size: 15px;

    display: inline-block;

    margin: 0 12px;
    padding: 10px;

    vertical-align: middle;
}
.loaderGallery__icon__full
{
    cursor: pointer;
}
.loaderGallery__icon__full:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__full .svgHolder
{
    display: block;

    width: 21px;
    height: 21px;

    fill: #7b7b7b;
}
.loaderGallery__icon__close
{
    cursor: pointer;
}
.loaderGallery__icon__close:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__close .svgHolder
{
    display: block;

    width: 20px;
    height: 20px;

    fill: #7b7b7b;
}
.loaderGallery__icon__pause
{
    cursor: pointer;
}
.loaderGallery__icon__pause:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__pause .svgHolder
{
    display: block;

    width: 13px;
    height: 21px;

    fill: #7b7b7b;
    fill-rule: evenodd;
}
.loaderGallery__icon .over
{
    overflow: hidden;

    width: 13px;
}
.loaderGallery__icon__next
{
    cursor: pointer;
}
.loaderGallery__icon__next:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__next .svgHolder
{
    display: block;

    width: 33px;
    height: 23px;
    margin-left: -13px;

    fill: #7b7b7b;
    fill-rule: evenodd;
}
.loaderGallery__icon__prev
{
    cursor: pointer;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.loaderGallery__icon__prev:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__prev .svgHolder
{
    display: block;

    width: 33px;
    height: 23px;
    margin-left: -13px;

    fill: #7b7b7b;
    fill-rule: evenodd;
}
.loaderGallery__icon.played
{
    cursor: pointer;
}
.loaderGallery__icon.played:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon.played .svgHolder
{
    display: block;

    width: 13px;
    height: 21px;

    fill: #7b7b7b;
}
.loaderGallery__icon__share
{
    position: relative;
    z-index: 6;

    cursor: pointer;
}
.loaderGallery__icon__share:hover
{
    background: #fff;
}
.loaderGallery__icon__share:hover > .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__share:hover .loaderGallery__icon__list
{
    display: block;
}
.loaderGallery__icon__share > .svgHolder
{
    display: block;

    width: 22px;
    height: 22px;

    fill: #7b7b7b;
}
.loaderGallery__icon__list
{
    position: absolute;
    z-index: 6;
    bottom: 100%;
    left: 0;

    display: none;

    width: 100%;

    background: #fff;
}
.loaderGallery__icon__list li
{
    border-bottom: 1px solid #ededed;
}
.loaderGallery__icon__list li a
{
    line-height: 30px;

    display: block;

    height: 30px;

    text-align: center;
}
.loaderGallery__icon__list li a:hover
{
    background: #ededed;
}
.loaderGallery__icon__list li a:hover .svgHolder
{
    fill: #000;
}
.loaderGallery__icon__list li .svgHolder
{
    display: inline-block;

    vertical-align: middle;
}

.owl-carousel
{
    position: relative;

    height: 80%;
}
.owl-carousel div:not(.owl-controls):not(.loaderGallery__name)
{
    height: 100%;
}
.owl-carousel .owl-stage-outer
{
    overflow: visible;
}

.owl-carousel .owl-item img
{
    width: auto;
    margin: 0 auto;
}
.headerLine__menu .js-contact-form
{
    /*display: none;*/
}
.loaderGal
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: #ededed;
}

.map
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: none;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background: #ededed;
}
@media screen and (max-height: 479px)
{
    .map
    {
        overflow: scroll;

        height: 100%;
    }
}
.map__outer
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 7%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    height: 100%;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
@media (max-width: 1024px)
{
    .map__outer
    {
        left: 4%;
		width:300px;
    }
}
/*@media screen and (max-height: 750px)
{
    .map__outer
    {
        position: static;
        left: 0;

        width: 100%;
        height: auto;

        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
                justify-content: flex-start;
    }
}*/
@media screen and (max-width: 480px)
{
    .map__outer
    {
        position: absolute;
		width:90%;
    }
}
@media screen and (max-height: 479px)
{
    .map__outer
    {
        position: absolute;

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        min-height: 277px;
		width:90%;
		margin:0 auto;

        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
}
.map__block
{
    box-sizing: border-box;
    width: 480px;
    padding: 40px;

    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, .1);
}
.map__block__title
{
    font-size: 20px;
    font-weight: 700;

    text-transform: uppercase;

    color: #090909;
}
.map__block__time
{
    font-size: 12px;
    font-weight: 300;

    margin-bottom: 8px;

    text-transform: uppercase;

    opacity: .5;
    color: #090909;
}
.map__block__adress
{
    font-size: 20px;
    font-weight: 300;

    color: #090909;
}
.map__block__adress p
{
    margin-bottom: 20px;
}
@media (max-width: 1200px)
{
    .map__block__adress p
    {
        margin-bottom: 15px;
    }
}
@media (max-width: 1024px)
{
    .map__block__adress p
    {
        margin-bottom: 12px;
    }
}
@media (max-width: 1200px)
{
    .map__block__adress
    {
        font-size: 17px;
        line-height: 1.25;
    }
}
.map__block__form
{
    margin-top: 30px;
}
.map__block__form__row
{
    position: relative;

    margin-bottom: 28px;
}
.map__block__form__row b
{
    display: none;
}
.map__block__form__row:last-child
{
    margin-bottom: 0;
}
.map__block__form .row .map__block__form__row
{
    margin-bottom: 28px;
}
.map__block__form input
{
    font-size: 15px;
    font-weight: 300;

    display: block;

    width: 100%;
    height: 26px;

    transition: all .3s ease-in-out;

    color: #090909;
    border: none;
    border-bottom: solid 1px #d1d1d1;
    background: #fff !important;
}
.map__block__form input:focus
{
    border-color: #a4a4a4;
    background: #fff !important;
}
.map__block__form input:focus + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .7;
    color: #090909;
}
.map__block__form input.upper + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .5;
    color: #090909;
}
.map__block__form input::-webkit-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form input:-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form input::-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form input:-ms-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form input:focus::-webkit-input-placeholder
{
    color: transparent !important;
}
.map__block__form input:focus:-moz-placeholder
{
    color: transparent !important;
}
.map__block__form input:focus::-moz-placeholder
{
    color: transparent !important;
}
.map__block__form input:focus:-ms-input-placeholder
{
    color: transparent !important;
}
.map__block__form input + span
{
    font-size: 15px;
    font-weight: 300;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    transition: all .3s ease-in-out;

    color: #090909;
}
.map__block__form input.correct + span + b,
.map__block__form textarea.correct + span + b
{
    font-size: 10px;
    font-weight: 100;
    line-height: 15px;

    position: absolute;
    top: 6px;
    right: 0;

    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #a4a4a4;
}
.map__block__form input.error + span + b,
.map__block__form textarea.error + span + b
{
    font-size: 10px;
    font-weight: 100;
    line-height: 15px;

    position: absolute;
    top: 6px;
    right: 0;

    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #d65656;
}
.map__block__form textarea
{
    font-size: 15px;
    font-weight: 300;

    display: block;

    width: 100%;
    height: 86px;

    resize: none;
    transition: all .3s ease-in-out;

    color: #090909;
    border: none;
    border-bottom: solid 1px #d1d1d1;
    background: #fff !important;
}
.map__block__form textarea:focus
{
    border-color: #a4a4a4;
    background: #fff !important;
}
.map__block__form textarea:focus + span
{
    font-size: 12px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .7;
    color: #090909;
}
.map__block__form textarea + span
{
    font-size: 15px;
    font-weight: 300;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    transition: all .3s ease-in-out;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    color: #090909;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
}
.map__block__form textarea.upper + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .5;
    color: #090909;
}
.map__block__form__submit
{
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;

    cursor: pointer;
    transition: background .3s ease-in-out;
    text-align: center;

    color: #090909;
    border-radius: 20px;
    background-color: rgba(164, 164, 164, .2);
}
.map__block__form__submit:hover
{
    background: rgba(164, 164, 164, .4);
}
@media (max-width: 1200px)
{
    .map__block__form
    {
        margin-top: 15px;
    }
}
.map__block__form2
{
    max-width: 310px;
    max-height: 100%;
    margin: 0 auto;
	width:90%;
}
.map__block__form2__row
{
    position: relative;

    margin-bottom: 8px;
}
.map__block__form2__row b
{
    display: none;
}
.map__block__form2 .row2 .map__block__form2__row:last-child
{
    margin-bottom: 0;
}
.map__block__form2 .row2{
	margin-top:16px;
}

.map__block__form2 input
{
    font-size: 15px;
    font-weight: 300;

    display: block;

    width: 100%;
    height: 40px;

    transition: all .3s ease-in-out;

    color: #090909;
    border: none;
    border-bottom: solid 1px #d1d1d1;
    background: #fff !important;
}
.map__block__form2 input:focus
{
    border-color: #a4a4a4;
    background: #fff !important;
}
.map__block__form2 input:focus + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .7;
    color: #090909;
}
.map__block__form2 input.upper + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .5;
    color: #090909;
}
.map__block__form2 input::-webkit-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 input:-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 input::-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 input:-ms-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 input:focus::-webkit-input-placeholder
{
    color: transparent !important;
}
.map__block__form2 input:focus:-moz-placeholder
{
    color: transparent !important;
}
.map__block__form2 input:focus::-moz-placeholder
{
    color: transparent !important;
}
.map__block__form2 input:focus:-ms-input-placeholder
{
    color: transparent !important;
}
.map__block__form2 input,
.map__block__form2 textarea
{
    box-sizing: border-box;
    padding: 0 15px 0 10px;
}
.map__block__form2 input.correct + span + b,
.map__block__form2 textarea.correct + span + b
{
    font-size: 10px;
    font-weight: 100;
    line-height: 15px;

    position: absolute;
    top: 11px;
    right: 1px;

    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #a4a4a4;
}
.map__block__form2 input.error + span + b,
.map__block__form2 textarea.error + span + b
{
    font-size: 10px;
    font-weight: 100;
    line-height: 15px;

    position: absolute;
    top: 11px;
    right: 1px;

    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #d65656;
}
.map__block__form2 textarea
{
    font-size: 15px;
    font-weight: 300;

    display: block;

    width: 100%;
    height: 80px;

    resize: none;
    transition: all .3s ease-in-out;

    color: #090909;
    border: none;
    border-bottom: solid 1px #d1d1d1;
    background: #fff !important;
}
.map__block__form2 textarea:focus
{
    border-color: #a4a4a4;
    background: #fff !important;
}
.map__block__form2 textarea:focus + span
{
    font-size: 12px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .7;
    color: #090909;
}
.map__block__form2 textarea.upper + span
{
    font-size: 11px;
    font-weight: 300;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: .5;
    color: #090909;
}
.map__block__form2 textarea::-webkit-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 textarea:-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 textarea::-moz-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 textarea:-ms-input-placeholder
{
    opacity: 1;
    color: #090909;
}
.map__block__form2 textarea:focus::-webkit-input-placeholder
{
    color: transparent !important;
}
.map__block__form2 textarea:focus:-moz-placeholder
{
    color: transparent !important;
}
.map__block__form2 textarea:focus::-moz-placeholder
{
    color: transparent !important;
}
.map__block__form2 textarea:focus:-ms-input-placeholder
{
    color: transparent !important;
}
.map__block__form2__submit
{
    font-size: 16px;
    font-weight: 100;
    line-height: 33px;

    display: block;

    width: 100%;
    height: 33px;

    cursor: pointer;
    transition: background .3s ease-in-out;
    text-align: center;

    color: #090909;
    border-radius: 20px;
    background-color: rgba(164, 164, 164, .2);
}
.map__block__form2__submit:hover
{
    background: rgba(164, 164, 164, .4);
}
@media (max-width: 1200px)
{
    .map__block
    {
        width: 400px;
        padding: 20px;
    }
}
@media (max-width: 1024px)
{
    .map__block
    {
        width: 380px;
        padding: 15px;
    }
}

.headerLine__menu .js-contact-form{
    display: none;
}

@media screen and (max-width: 750px) , screen and (max-height: 750px) {
    .headerLine__menu .js-contact-form{
        display:inline-block;
    }
    .map__block__form{
        display: none !important;
    }
}

@media screen and (max-height: 750px)
{

    .loaderbg2{
        position: fixed;
    }
    .map__block
    {
        /*display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;

        width: 100%;*/
		display:block;
        padding: 15px;

        border-top: 1px solid #ededed;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .1);

        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    /*.map__block__adress br
    {
        display: none;
    }*/
    .map__block__adress p
    {
        font-size: 14px;

        display: inline-block;

        margin-bottom: 0;
        /*margin-left: 15px;*/

        vertical-align: middle;
    }
    .map__block__adress p:last-child
    {
        display: block;
		display:none;
        text-align: right;
    }
    .map__block__time
    {
        margin-bottom: 0;
    }
    .map__block__form
    {
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
		/*display:none;*/

        box-sizing: border-box;
        width: 100%;
        padding: 20px 10px 10px 10px;

        background: #fff;
        box-shadow: 0 -10px 25px rgba(0, 0, 0, .1);

        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .map__block__form .row
    {
        display: inline-block;

        width: 49%;

        vertical-align: top;
    }
    .map__block__form .row .map__block__form__row
    {
        display: block;

        margin-bottom: 14px;
    }
    .map__block__form .row .map__block__form__row:last-child
    {
        margin-bottom: 0;
    }
    .map__block__form .row2
    {
        display: inline-block;

        width: 49%;

        vertical-align: top;
    }
    .map__block__form .row2 .map__block__form__row
    {
        display: block;

        margin-bottom: 14px;
    }
    .map__block__form .row2 .map__block__form__row:last-child
    {
        margin-bottom: 0;
    }
    .map__block__form .row2 textarea
    {
        font-size: 13px;

        height: 61px;
    }
    .map__block__form .row2 textarea + span
    {
        font-size: 13px;
        line-height: 1;
    }
    .map__block__form__row
    {
        display: inline-block;

        vertical-align: top;
    }
    .map__block__form input
    {
        font-size: 13px;

        height: 23px;
    }
    .map__block__form input + span
    {
        font-size: 13px;
        line-height: 1;
    }
    .map__block__form__submit
    {
        font-size: 14px;
        line-height: 27px;

        height: 27px;
    }
}
@media screen and (max-width: 590px)
{
    .map__block
    {
        display: block;

        padding: 5px 10px;
    }
    .map__block__adress
    {
        margin-top: 5px;
    }
    .map__block__adress p
    {
        font-size: 12px;
        font-size: 14px;

        display: block;

        margin-bottom: 5px;
        margin-left: 0;
    }
    .map__block__adress p br
    {
        display: block;
    }
    .map__block__adress p:last-child
    {
        font-size: 12px;

        color: #a0a0a0;
    }
    .map__block__title
    {
        font-size: 18px;
    }
    .map__block__time
    {
        font-size: 10px;
        line-height: 1;
    }
    .map__block__form
    {
        padding: 14px 5px 5px 5px;
    }
    .map__block__form input,
    .map__block__form textarea
    {
        font-size: 12px;
    }
    .map__block__form input + span,
    .map__block__form textarea + span
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px)
{
    .map__block
    {
        width: 90%;
        margin: 5%;
        padding: 10px;
    }
    .map__block__title
    {
        font-size: 20px;
    }
    .map__block__time
    {
        font-size: 14px;
        line-height: 2;
    }
    .map__block__form
    {
        /*display: none;*/
    }
    .map__block__adress
    {
        font-size: 17px;
        line-height: 1.25;

        margin-top: 20px;
    }
    .map__block__adress p
    {
        font-size: 20px;

        margin-bottom: 20px;
    }
    .map__block__adress p:last-child
    {
        display: none;
    }
}
@media screen and (max-height: 479px)
{
    .map__block
    {
        display: block;

        width: 90%;
        height: auto;
        margin: 5%;
        padding: 10px;
    }
    .map__block__title
    {
        font-size: 20px;
    }
    .map__block__time
    {
        font-size: 14px;
        line-height: 2;
    }
    .map__block__form
    {
        display: none;
    }
    .map__block__adress
    {
        font-size: 17px;
        line-height: 1.25;

        margin-top: 17px;
    }
    .map__block__adress p
    {
        font-size: 20px;

        display: block;

        margin-bottom: 17px;
        margin-left: 0;
    }
    .map__block__adress p br
    {
        display: block;
    }
    .map__block__adress p:last-child
    {
        display: none;
    }
}
@media screen and (max-height: 750px) and (orientation: landscape)
{
    .map__block
    {
        width: 90%;
    }
}

.contactform
{
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;

    display: flex;
	overflow: scroll;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 100%;

    transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    transition:         transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    text-align: center;

    background: #fff;
}
.contactform.opened
{
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
.contactform__close
{
    font-size: 32px;
    font-weight: 100;

    position: absolute;
    top: 20px;
    right: 30px;

    color: #181818;
	z-index:4;
}
.js-close-cont{
    font-size: 32px;
    font-weight: 100;

    position: absolute;
    top: 20px;
    right: 20px;

    color: #181818;
    cursor: pointer;
}
.contactform__outer
{
    /**display: table-cell;

    vertical-align: middle;**/
	width:100%;
}

@media screen and (max-width: 480px)
{
    .js-contact-form
    {
        display: list-item;
    }
}
@media screen and (max-height: 750px) and (min-width: 479px)
{
    .js-contact-form
    {
        display: list-item;
    }
}

#map
{
    width: 100%;
    height: 100%;
}
@media screen and (max-height: 479px)
{
    #map
    {
        width: 100%;
        min-height: 277px !important;
    }
}

.about
{
    display: none;
}

.tetrisQuestions
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    box-sizing: border-box;
    width: 100%;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.tetrisQuestions__textBlock{
    max-width: 960px;
    margin: 50px auto 20px auto;
    font-weight: 300;
    line-height: 1.85;
    color: #090909;
    font-size: 20px;
    padding: 0 10px;
}

.tetrisQuestions__textBlock p{
    margin-bottom: 30px;
}

.tetrisQuestions__textBlock h4{
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
}

.tetrisQuestions__textBlock h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.tetrisQuestions__textBlock h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.tetrisQuestions__textBlock h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.tetrisQuestions__textBlock h1,.tetrisQuestions__textBlock h2,.tetrisQuestions__textBlock h3,.tetrisQuestions__textBlock h4{
    margin: 0.6em 0;
}

@media screen and (max-width:1024px){
    .tetrisQuestions__textBlock{
        font-size: 16px;
        margin: 30px auto 15px auto;
    }
    .tetrisQuestions__textBlock p{
        margin-bottom: 15px;
    }
    .tetrisQuestions__textBlock h4{
        font-size: 16px;
    }
    .tetrisQuestions__textBlock h3{
        font-size: 18px;
    }
    .tetrisQuestions__textBlock h2{
        font-size: 20px;
    }
    .tetrisQuestions__textBlock h1{
        font-size: 22px;
    }
}

@media screen and (max-width:640px){
    .tetrisQuestions__textBlock{
        font-size: 15px;
        line-height: 1.5;
        margin: 15px auto 15px auto;
    }
    .tetrisQuestions__textBlock p{
        margin-bottom: 12px;
    }
    .tetrisQuestions__textBlock h4{
        font-size: 15px;
    }
    .tetrisQuestions__textBlock h3{
        font-size: 17px;
    }
    .tetrisQuestions__textBlock h2{
        font-size: 19px;
    }
    .tetrisQuestions__textBlock h1{
        font-size: 21px;
    }
}

.tetrisQuestions__item
{
    position: relative;

    float: left;
    overflow: hidden;

    box-sizing: border-box;
    width: 20%;
    margin-top: 4%;

    cursor: pointer;
}
.tetrisQuestions__item__inside
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
            flex-direction: column;

    box-sizing: border-box;
    width: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.tetrisQuestions__item__image
{
    margin-bottom: 4%;

    transition: opacity .4s ease-in-out;

    opacity: .3;
}
@media screen and (max-width: 1600px)
{
    .tetrisQuestions__item__image
    {
        width: 85px;
        height: 85px;
    }
}
@media (max-width: 1024px)
{
    .tetrisQuestions__item__image
    {
        width: 75px;
        height: 75px;
    }
}
@media (max-width: 770px)
{
    .tetrisQuestions__item__image
    {
        width: 65px;
        height: 65px;
    }
}
@media (max-width: 440px)
{
    .tetrisQuestions__item__image
    {
        width: 50px;
        height: 50px;
    }
}
.tetrisQuestions__item__question
{
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;

    max-width: 290px;
    margin: 0 auto;

    text-align: center;
}
@media screen and (max-width: 1600px)
{
    .tetrisQuestions__item__question
    {
        font-size: 18px;
        line-height: 1.25;
    }
}
@media (max-width: 1200px)
{
    .tetrisQuestions__item__question
    {
        font-size: 17px;
    }
}
@media (max-width: 1024px)
{
    .tetrisQuestions__item__question
    {
        font-size: 15px;
    }
}
@media (max-width: 770px)
{
    .tetrisQuestions__item__question
    {
        font-size: 14px;
    }
}
.tetrisQuestions__item__answer
{
    line-height: 1.25;

    position: relative;

    box-sizing: border-box;
    width: 720px;
    height: auto;
    margin: 0 auto;
    padding: 25px;

    background: #fff;
}
@media (max-width: 770px)
{
    .tetrisQuestions__item__answer
    {
        width: 435px;
        padding: 20px;
    }
}
@media (max-width: 440px)
{
    .tetrisQuestions__item__answer
    {
        width: 310px;
        padding: 10px;
    }
}
.tetrisQuestions__item__title
{
    font-size: 22px;
    font-weight: 300;

    margin-bottom: 5px;
    padding-right: 45px;
    padding-bottom: 5px;

    text-transform: uppercase;
    word-break: break-all;

    border-bottom: 1px solid #ededed;
}
@media (max-width: 770px)
{
    .tetrisQuestions__item__title
    {
        font-size: 18px;
    }
}
@media (max-width: 440px)
{
    .tetrisQuestions__item__title
    {
        font-size: 16px;

        margin-bottom: 5px;
    }
}
.tetrisQuestions__item__desc
{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.35;
}
@media (max-width: 770px)
{
    .tetrisQuestions__item__desc
    {
        font-size: 15px;
    }
}
@media (max-width: 440px)
{
    .tetrisQuestions__item__desc
    {
        font-size: 14px;
    }
}
.tetrisQuestions__item__popup
{
    display: none;
}
@media screen and (max-width: 1600px)
{
    .tetrisQuestions__item
    {
        width: 25%;
    }
}
@media (max-width: 1024px)
{
    .tetrisQuestions__item
    {
        width: 33%;
    }
}
@media (max-width: 770px)
{
    .tetrisQuestions__item
    {
        width: 50%;
    }
}
@media (max-width: 440px)
{
    .tetrisQuestions__item
    {
        width: 100% !important;
    }
}
.tetrisQuestions__item:hover .tetrisQuestions__item__image
{
    opacity: 1;
}

/*# sourceMappingURL=maps/style.css.map */


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.gallery img{
    border:none !important;
}

.gallery{
    font-size: 0;
    /*text-align: center;*/
}

.gallery-item{
    margin: 0;
    line-height: 0;
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}

.gallery-columns-6 .gallery-item{
    min-width: 145px;
}


/*#primary-menu { float: right; }*/

/*#primary-menu ul.mobile-primary-menu { display: none; }*/

/*#header.full-header #primary-menu > ul {*/
    /*float: left;*/
    /*padding-right: 15px;*/
    /*margin-right: 15px;*/
    /*border-right: 1px solid #EEE;*/
/*}*/

/*#header.transparent-header.full-header #primary-menu > ul { border-right-color: rgba(0,0,0,0.1); }*/

/*#primary-menu-trigger,*/
/*#page-submenu-trigger {*/
    /*opacity: 0;*/
    /*pointer-events: none;*/
    /*cursor: pointer;*/
    /*font-size: 14px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -25px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*-webkit-transition: opacity .3s ease;*/
    /*-o-transition: opacity .3s ease;*/
    /*transition: opacity .3s ease;*/
/*}*/

/*#primary-menu ul {*/
    /*list-style: none;*/
    /*margin: 0;*/
/*}*/

/*#primary-menu > ul { float: left; }*/

/*#primary-menu ul li { position: relative; }*/

/*#primary-menu ul li.mega-menu { position: inherit; }*/

/*#primary-menu ul > li {*/
    /*float: left;*/
    /*margin-left: 2px;*/
/*}*/

/*#primary-menu > ul > li:first-child { margin-left: 0; }*/

/*#primary-menu ul li > a {*/
    /*display: block;*/
    /*line-height: 22px;*/
    /*padding: 39px 15px;*/
    /*color: #444;*/
    /*font-weight: bold;*/
    /*font-size: 18px;*/
    /*letter-spacing: 1px;*/
    /*text-transform: uppercase;*/
    /*!*font-family: 'Raleway', sans-serif;*!*/
    /*-webkit-transition: margin .4s ease, padding .4s ease;*/
    /*-o-transition: margin .4s ease, padding .4s ease;*/
    /*transition: margin .4s ease, padding .4s ease;*/
/*}*/

/*#primary-menu ul li > a span { display: none; }*/

/*#primary-menu ul li > a i {*/
    /*position: relative;*/
    /*top: -1px;*/
    /*font-size: 14px;*/
    /*width: 16px;*/
    /*text-align: center;*/
    /*margin-right: 6px;*/
    /*vertical-align: top;*/
/*}*/

/*#primary-menu ul li > a i.icon-angle-down:last-child {*/
    /*font-size: 12px;*/
    /*margin: 0 0 0 5px;*/
/*}*/

/*#primary-menu ul li:hover > a,*/
/*#primary-menu ul li.current > a { color: #1ABC9C; }*/

/*#primary-menu > ul > li.sub-menu > a > div { }*/

/*body.no-superfish #primary-menu li:hover > ul:not(.mega-menu-column),*/
/*body.no-superfish #primary-menu li:hover > .mega-menu-content { display: block; }*/

/*#primary-menu ul ul:not(.mega-menu-column),*/
/*#primary-menu ul li .mega-menu-content {*/
    /*display: none;*/
    /*position: absolute;*/
    /*width: 220px;*/
    /*background-color: #FFF;*/
    /*box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);*/
    /*border: 1px solid #EEE;*/
    /*border-top: 2px solid #1ABC9C;*/
    /*height: auto;*/
    /*z-index: 199;*/
    /*top: 100%;*/
    /*left: 0;*/
    /*margin: 0;*/
/*}*/

/*#primary-menu ul ul:not(.mega-menu-column) ul {*/
    /*top: -2px !important;*/
    /*left: 218px;*/
/*}*/

/*#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),*/
/*#primary-menu ul li .mega-menu-content.menu-pos-invert {*/
    /*left: auto;*/
    /*right: 0;*/
/*}*/

/*#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert { right: 218px; }*/

/*#primary-menu ul ul li {*/
    /*float: none;*/
    /*margin: 0;*/
/*}*/

/*#primary-menu ul ul li:first-child { border-top: 0; }*/

/*#primary-menu ul ul li > a {*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    /*color: #666;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*border: 0;*/
    /*letter-spacing: 0;*/
    /*font-family: 'Lato', sans-serif;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-o-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
/*}*/

/*#primary-menu ul ul li > a i { vertical-align: middle; }*/

/*#primary-menu ul ul li:hover > a {*/
    /*background-color: #F9F9F9;*/
    /*padding-left: 18px;*/
    /*color: #1ABC9C;*/
/*}*/

/*#primary-menu ul ul > li.sub-menu > a,*/
/*#primary-menu ul ul > li.sub-menu:hover > a {*/
    /*background-image: url("images/icons/submenu.png");*/
    /*background-position: right center;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*@media  (max-width: 991px ) {*/

    /*#primary-menu {*/
        /*display: block;*/
        /*float: none;*/
    /*}*/
    /*#primary-menu .container #primary-menu-trigger {*/
        /*top: 5px;*/
        /*left: 0;*/
    /*}*/
    /*#primary-menu > ul,*/
    /*#primary-menu > div > ul {*/
        /*display: none;*/
        /*float: none !important;*/
        /*border: 0 !important;*/
        /*padding: 0 !important;*/
        /*margin: 0 !important;*/
        /*-webkit-transition: none;*/
        /*-o-transition: none;*/
        /*transition: none;*/
    /*}*/
    /*#primary-menu > div > ul { margin-top: 60px !important; }*/

    /*#primary-menu ul li {*/
        /*float: none;*/
        /*width: 50%;*/
        /*margin: 0 !important;*/
        /*text-align: left !important;*/
        /*border-top: 1px solid #EEE;*/
    /*}*/
    /*#header.split-menu #primary-menu:not(.mobile-menu-off-canvas) > ul:not(:first-child) > li:first-child { border-top: 1px solid #EEE; }*/
    /*#primary-menu ul li:first-child { border-top: 0; }*/
    /*#primary-menu ul > li > a,*/
    /*#primary-menu.style-2 > div > ul > li > a {*/
        /*padding: 9px 5px !important;*/
        /*border: none !important;*/
        /*margin: 0 !important;*/
    /*#primary-menu ul:not(.windows-mobile-menu) li > a i.icon-angle-down:last-child { display: none; }*/
    /*#primary-menu > ul > li.sub-menu > a,*/
    /*#primary-menu > .container > ul > li.sub-menu > a {*/
        /*background-image: url("../images/icons/submenu.png");*/
        /*background-position: right center;*/
        /*background-repeat: no-repeat;*/
    /*}*/


    /*#primary-menu ul ul li {*/
        /*float: none;*/
        /*margin: 0;*/
        /*border-top: 1px solid #EEE;*/
    /*}*/
    /*#primary-menu ul ul li > a {*/
        /*padding: 11px 5px !important;*/
        /*font-size: 13px;*/
        /*text-transform: none;*/
        /*font-weight: 400;*/
    /*}*/
    /*#primary-menu ul ul li:hover > a {*/
        /*background-color: transparent !important;*/
        /*font-weight: 600;*/
        /*padding-left: 5px;*/
        /*color: #1ABC9C;*/
    /*}*/
/*}*/
/*@media (min-width: 470px) and  (max-width: 760px ) {*/

    /*#primary-menu ul li {*/
        /*float: none;*/
        /*width: 29%;*/
        /*margin: 0 !important;*/
        /*text-align: left !important;*/
        /*border-top: 1px solid #EEE;*/
    /*}*/
/*}*/
/*@media (min-width: 761px) and  (max-width: 991px ) {*/

    /*#primary-menu ul li {*/
        /*float: none;*/
        /*width: 24%;*/
        /*margin: 0 !important;*/
        /*text-align: left !important;*/
        /*border-top: 1px solid #EEE;*/
    /*}*/
/*}*/
